@charset "utf-8";

/* yjTmplCommon-min.css 1.1.0 */
body{margin:0;padding:0;text-align:center;}dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}ul li, ol li{list-style:none;}table{margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-size:100%;}caption{text-align:left;}table,pre,code,select,input,textarea,kbd,var,ins,del,samp{font-size:100%;}address,cite,dfn,em,strong,var,th,ins,del,samp{font-weight:normal;font-style:normal;}a img{border:0;}hr.yjSeparation{display:none;}fieldset{border:none;}#wrapper{text-align:left;font-size:medium;line-height:1.56;}#yjContentsBody{position:relative;}.yjGuid{display:block;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;}.yjSkip{display:block;height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px;}.yj950-1 #wrapper,.yj950-2 #wrapper,.yj950-3 #wrapper{ width:950px;margin:0 auto;padding:0 10px;}.yj950-1 #contents,.yj950-2 #contents,.yj950-3 #contents{text-align:left;}.yj950-2 #yjMain{float:left;width:640px;}.yj950-2 #yjSub{float:right;width:300px;}.yj950-3 #yjMain{float:left;width:640px;}.yj950-3 .yj1stUnit{float:right;width:440px;}.yj950-3 .yj2ndUnit{float:left;width:190px;}.yj950-3 #yjSub{float:right;width:300px;}.yj100per-1,.yj100per-2,.yj100per-3{width:100%;}.yj100per-1 #wrapper,.yj100per-2 #wrapper,.yj100per-3 #wrapper{min-width:100%;padding:0 10px;}.yj100per-2 #yjMain{float:left;width:100%;margin-left:-310px;}.yj100per-2 .yjMainGrid{margin-left:310px;}.yj100per-2 #yjSub{float:right;width:300px;}.yj100per-3 #yjMain{float:left;width:100%;margin-left:-310px;}.yj100per-3 .yjMainGrid{margin-left:310px;}.yj100per-3 .yj1stUnit{float:right;width:100%;margin-right:-200px;}.yj100per-3 .yj1stInnerUnit{margin-right:200px;}.yj100per-3 .yj2ndUnit{float:left;width:190px;}.yj100per-3 #yjSub{float:right;width:300px;}#yjContentsBody:after,.yj950-3 #yjMain:after{display:block;visibility:hidden;clear:both;height:0;content:".";}#yjContentsBody,.yj950-3 #yjMain{height:1%;}
/* fonts-min.css 1.0.0 */
.s115{line-height:115%;}.s130{line-height:130%;}.s150{line-height:150%;}.yjXXL{font-size:x-large;voice-family:"\"}\"";voice-family:inherit;font-size:xx-large;font-size /**/:x-large;}html>body .yjXXL{font-size:180%;font-size/**/:xx-large;}.yjXL{font-size:large;voice-family:"\"}\"";voice-family:inherit;font-size:x-large;font-size /**/:large;}html>body .yjXL{font-size:150%;font-size/**/:x-large;}.yjL{font-size:medium;voice-family:"\"}\"";voice-family:inherit;font-size:large;font-size /**/:medium;}html>body .yjL{font-size:120%;font-size/**/:large;}.yjM{font-size:small;voice-family:"\"}\"";voice-family:inherit;font-size:medium;font-size /**/:small;}html>body .yjM{font-size:100%;font-size/**/:medium;}.yjMt{font-size:small;line-height:1.4em;voice-family:"\"}\"";voice-family:inherit;font-size:medium;font-size /**/:small;}html>body .yjMt{font-size:100%;font-size/**/:medium;}.yjS{font-size:x-small;voice-family:"\"}\"";voice-family:inherit;font-size:small;font-size /**/:x-small;}html>body .yjS{font-size:84%;font-size/**/:small;}.yjSt{font-size:x-small;line-height:1.3em;voice-family:"\"}\"";voice-family:inherit;font-size:small;font-size /**/:x-small;}html>body .yjSt{font-size:84%;font-size/**/:small;}.yjXS{font-size:xx-small;voice-family:"\"}\"";voice-family:inherit;font-size:x-small;font-size /**/:xx-small;}html>body .yjXS{font-size:70%;font-size/**/:x-small;}

/* masthead-min.css 1.0.0 */
.yjmth{*height:1%;}.yjmth img{vertical-align:middle;border:0px;}.yjmth a{border:0px;}div.yjmthproplogoarea{float:left;}div.yjmthloginarea{float:left;margin:0px 0px 0px 10px;font-size:smaller;text-align:left;line-height:110%}div.yjmthcplogoarea{float:right;}div.yjmthcmnlnkarea{/*\*/float:right;/* */margin:10px 3px 0px 0px;font-size:smaller;text-align:right;line-height:110%;}br.yjmthclear{clear:both;}div.yjgrplink{text-align:right;font-size:smaller;line-height:115%;}div#music div.yjmthloginarea{margin-top:16px;margin-left:7px;}div#music div.yjmthcmnlnkarea{margin-top:26px;}div#music div.yjmthcplogoarea{margin-top:14px;}#masthead{display:block;width:100%;margin:4px auto 0px;text-align:left;}#masthead strong{font-weight:bold;}#masthead:after{content:"."; display:block; position:relative;height:0; clear:both; visibility:hidden;}/*\*/* html #masthead{height:1%;}* html #masthead .yjmth{margin:0;padding:0;}/**//* ie/mac \*//*/#masthead{display:inline-table;}/**/
@media print{div.yjmthloginarea{display:none;}}

/* safari only \*/
html:\66irst-child #yjLrec dt{padding:3px 0 2px;}
/* emg-min.css 1.0.0 */
#emg,#emg2,#emg3{text-align:center; width: 950px; margin:0 auto 10px;}#emg br,#emg2 br,#emg3 br{display:none;}#emg table,#emg2 table,#emg3 table{margin:0 auto;text-align:left;}/* ie/mac \*//*/#emg,#emg2{margin-left:120px;}#emg3{margin-left:235px;}/**/

/* Reset */
body,input{font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;color:#404040;}
#masthead,#EMG{font-family:"MS PGothic","Osaka",Arial,sans-serif;}
a:link, a:visited {color:#148ae5;text-decoration:none;outline:0 none;}
a:hover {color:#ff4200;}
strong{font-weight:bold;}

/*----------------------------------------
AD
----------------------------------------*/
/*-- .adLREC --*/
.adLREC{padding-bottom:10px;background:#fff;}
.adLREC dt{text-align:center;font-size:small;}
/*-- .adSQB --*/
.adSQB{margin:30px 0;}
/*-- .adIM --*/
.adIM{margin:20px 0 30px;background:#fff;}

/*----------------------------------------
Common
----------------------------------------*/
#wrapper{min-width:100%;}
.container{margin:0 auto;max-width:1290px;min-width: 970px;}
#header{margin: 0 10px;}
#header:after{  content: ".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
#headerBox{ width: 950px; margin: 0 auto;}
#contents{position:relative;margin: 30px 10px 0 10px;}
#wrapper .detailContents{ position:inherit;margin: 30px 0 0 0;}
#wrapContents{width:950px;margin:0 auto 20px;min-height:300px;height:auto!important;height:300px;}
#yjBreadcrumbs{width:100%;margin:0 auto;}

/*-- #pagetop --*/
#pagetop{width:100%;margin:0 auto 5px;overflow:hidden;}
#pagetopLeft{float:left;margin:2px 20px 2px 0;font-size:16px; padding:0;}
#pagetopRight{float:right;margin:2px 0 2px 0;}
#pagetopRight .btnWhiteFrameVer2{float:left;padding:2px 5px;border:2px solid #fff;background-color:#eaeaea;
border-radius: 5px 5px 5px 5px;
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dfdfdf));
background:-moz-linear-gradient(top,#fff 0%,#dfdfdf 100%);
background:linear-gradient(top,#fff 0%,#dfdfdf 100%);
box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.35);-webkit-box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.35);color:#666;}
.Framelogo{ background:url(../img/crowdworks.png) no-repeat center right;padding: 0 90px 0 0;font-size: 87.5%;color:#148ae5;}
#pagetopRight p{float:left; margin:6px 0 0 0;font-size: 75%;}

/*-- .infoArea --*/
.infoArea .info{width:728px;margin:20px auto;}

/*-- .boxArea --*/
.boxArea{width: 100%; margin:0 auto; padding: 10px 0; background:#f3f0e2;}
.boxArea .boxInner{width: 950px; margin:0 auto;}
.boxArea:after{  content: ".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

/*-- .searchBox --*/
.searchBox{position:relative;float:left;width:290px; margin:0 10px 0 0;}
#headerBox .searchBox{margin:20px auto 10px;}
.searchBox div{/zoom:1;}
.keyWordBox{ width: 244px;height:32px;border:2px solid #26b422;display:table-cell;vertical-align:middle;/display:inline;/min-height:32px;/line-height:32px;}
.keyWordBox p{/position:relative;/top:6px;height:100%;}
.keyWordBox p input{width: 100%;height:inherit;background:#fff;border:none;border-radius:0;box-shadow:none;font-size:14px;margin:0;padding: 0 3px;/padding: 0;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;box-sizing: border-box;word-break: break-all;word-wrap: break-word;}
.searchBox .submitButton{background:#26b422;width:56px;display:table-cell;vertical-align: middle;/display:inline;/min-height:32px;/line-height:32px;/position:absolute;/top:0;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;box-sizing: border-box;/border:2px solid #26b422;}
.searchBox .submitButton input{display: block;width: 100%;background: url(../img/magnifying_glass.png) no-repeat center center;border: none;border-radius: 0;box-shadow: none;height: 32px;margin: 0;padding: 0;text-indent: -9999px;}
.searchBox input[type="submit"]{cursor: pointer;}

/*-- keywordList --*/
.keywordList{width:640px;float:left;padding:0 0 0 10px;font-size:17px;}
.keywordList dt,.keywordList dd,.keywordList dd ul,.keywordList dd ul li{display:inline;}
.keywordList dl{text-indent:-10.3em; padding:10px 0 10px 10.3em; line-height:1;}
.keywordList dt{color:#FF9000;}
.keywordList dt,.keywordList dd ul li{color:#0F0F1E;padding-right:13px;}
.keywordList dd a{color:#f84000;}
.keywordList dd a:hover{color:#f84000;text-decoration:underline;}

/*-- #navigation --*/
#navigation{height:33px;background:#2d9cc1;
background:-webkit-gradient(linear, left top, left bottom, from(#3db3d9),to(#1e86a9));
background:-moz-linear-gradient(center top ,#3db3d9,#1e86a9);
background:linear-gradient(center top ,#3db3d9,#1e86a9);}
#navigationSegment{margin:auto;width:100%;overflow:hidden;/display:inline-block;}
#navigationLeftSegment{float:left;}
#navigationRightSegment{float:right;}
#navigationLeftSegment a{float:left;display:block;padding:0 20px;font-size:16px;font-weight:bold;line-height:33px;color:#ffffff;}
#navigationRightSegment a{float:right;display:block;font-size:16px;font-weight:normal;line-height:33px;color:#ffffff;}
#navigationRightSegment span.Ypt{display: block;border-left:1px solid #58b1cf;float:right;padding: 0px 0px 0px 20px;font-size:14px;line-height:33px;color:#ffffff;}
#navigationRightSegment span.icoYpt{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat scroll 2px 8px transparent;display:inline-block;padding:0 22px;font-size:16px;font-weight:bold;line-height:33px;color:#ffffff;margin-left:2px;}
#navigation a:hover{color:#ccddee;}
#navigation .guide{background: url("https://s.yimg.jp/images/icon/u/bsc/1.0.0/beginner16.png") no-repeat scroll 3px 7px transparent;font-weight:nomal;font-size:14px;padding:0 20px;}
#navigation .my{padding:0 5px;font-size:14px;font-weight:normal;}
#navigation .top{border-left:1px solid #8db9D1;}
#navigation .search{border-left:1px solid #8db9D1;}
#navigation .skiltask{border-left:1px solid #8db9D1;border-right:1px solid #8db9D1;}
#navigation .stext{font-size:12px;font-weight:normal;}

/*-- #navigation_02 --*/
#navigation_02{ width: 950px; margin: 0 auto;height:35px;padding: 0 0 6px;}
#navigationSegment_02{margin:auto;width:100%;overflow:hidden;/display:inline-block;}
#navigationLeftSegment_02{float:left;}
#navigationRightSegment_02{float:right;}
#navigationLeftSegment_02 li{ float: left;padding: 0 3px 0 0; border-right: 1px solid #dcdcdc;}
#navigationLeftSegment_02 li:first-child{ border-left: 1px solid #dcdcdc;}
#navigationLeftSegment_02 a,#navigationLeftSegment_02 span{float:left;display:block;padding:0 18px;font-size:16px;line-height:35px;color:#006cd8;}
#navigationRightSegment_02 li{ float: right;}
#navigationRightSegment_02 a{float:right;display:block;line-height:35px;color:#006cd8;}
#navigationRightSegment_02 span.Ypt{display: block;border-left:1px solid #58b1cf;float:right;padding: 0px 0px 0px 20px;font-size:14px;line-height:33px;color:#006cd8;}
#navigationRightSegment_02 span.icoYpt{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat scroll 2px 8px transparent;display:inline-block;padding:0 22px;font-size:16px;font-weight:bold;line-height:33px;color:#ffffff;margin-left:2px;}
#navigationLeftSegment_02 a:hover,#navigation_02 .guide:hover,#navigation_02 .my:hover,#navigation_02 span.current{color:#ff4200;}
#navigation_02 .guide{font-weight:nomal;font-size:14px;padding:0 20px;}
#navigation_02 .my{padding:0 5px;font-size:14px;font-weight:normal;}
#navigation_02 .stext{font-size:12px;font-weight:normal;}
.fixed{position:fixed;top: 0;left: 0;width: 100%;z-index:9999;}

/* #scrollNavi  */
#scrollNavi{position: relative; z-index:99;}
#scrollNavi ul{display: block;position: absolute;top: 0;padding:2px;border:1px solid #cccccc;background:#fff;font-size:15px;text-align:center;}
#scrollNavi li{margin:1px 0 0;}
#scrollNavi li a{display: block; padding:0 18px 0 0;min-width: 146px; line-height:40px;background:#575757 url(../img/navi_sprite.png) no-repeat; color:#fff;}
#scrollNavi li.navi_02 a{ background-position: 0 -60px;}
#scrollNavi li.navi_03 a{ background-position: 0 -120px;}
#scrollNavi li.navi_04 a{ background-position: 0 -180px;}
#scrollNavi li.navi_05 a{ background-position: 0 -240px;}
#scrollNavi li.navi_06 a{ background-position: 0 -300px;}
#scrollNavi li.navi_07 a{ background-position: 0 -360px;}
#scrollNavi li:hover a,#scrollNavi li.current a{background-color:#eee;background-position: 0 -420px;color:#333333;}
#scrollNavi li:first-child{margin:0;}
#scrollNavi li.navi_08{margin: 10px 0 0;}
#scrollNavi li.navi_08 a,#scrollNavi li.navi_09 a{padding:0;border:none;background:none;color:#148ae5;}
#scrollNavi li.navi_08 a:hover,#scrollNavi li.navi_09 a:hover{color:#ff4200;}
#scrollNavi li.navi_08:hover,#scrollNavi li.navi_08.current,#scrollNavi li.navi_09:hover,#scrollNavi li.navi_09.current{}

/* .leftBnArea  */
.leftBnArea{position: absolute; top:300px;}
.leftBnArea li.leftBn{width:170px;margin:0 0 15px; background:none; border:none;}
.leftBnArea li.leftBn a{min-width:156px;width:156px;display:block;text-indent:-9999px; margin:0 auto; padding:0;}
.leftBnArea li.bn_01 a{height:33px; background:url(../img/bn/left_bn_01.png) no-repeat; margin:60px auto 0;}
/*.leftBnArea li.bn_02 a{height:59px; background:url(../img/bn/left_bn_02.png) no-repeat;}*/
/*.leftBnArea li.bn_03 a{height:55px; background:url(../img/bn/left_bn_03.png) no-repeat;}*/
/*.leftBnArea li.bn_04 a{height:54px; background:url(../img/bn/left_bn_04.png) no-repeat;}*/
.leftBnArea li.bn_05 a{height:50px; background:url(../img/bn/left_bn_05.png) no-repeat;}

/*-- #contensHeader --*/
#contensHeader.easy{border-left:9px solid #cc66ff;padding: 0 0 0 10px;}
#contensHeader.skill{border-left:9px solid #0c96dd;padding: 0 0 0 10px;}
#contensHeader.design{border-left:9px solid #ffcc33;padding: 0 0 0 10px;}
#contensHeader.development{border-left:9px solid #66ccff;padding: 0 0 0 10px;}
#contensHeader.writing{border-left:9px solid #99ff99;padding: 0 0 0 10px;}
#contensHeader.others{border-left:9px solid #ff99cc;padding: 0 0 0 10px;}
#contensHeader .ttl{font-weight:bold;font-size:24px;line-height:1;padding: 0 0 10px;}
#contensHeader .pd3v{padding: 3px 0;}
#contensHeader .cap{font-weight:bold;font-size:15px;line-height:1;}
#contents .txtS{font-size:12px;text-align:right;}


/*-- #listHeader --*/
#listHeaderWrap{background:#E5E3E2 url(../img/list_header_bottom.png) left bottom repeat-x;}
#listHeader{background:url(../img/list_header_top.png) repeat-x;}
#listHeaderInner{width:100%;margin:0 auto;padding: 13px 0 11px;overflow: hidden;/display:inline-block; background: url(../img/list_header_earn_bg.png) right bottom no-repeat;}
#listHeaderInner .ttl{font-weight:bold;font-size:x-large;line-height:1.3;word-wrap:word-break;word-break: break-all;}
#listHeaderInner .listTitle{ padding: 0 0 8px;}
#listHeaderInner .txt{margin-left:5px;font-size:large;font-weight:normal;}
#listHeaderInner .cap{clear: both; margin: 3px 0 0;font-size:nomal;font-weight:normal; max-width: 700px;}

/*-- #footer --*/
#footer{margin-top:20px;text-align:center;}
.f950{ width:100%; margin:0 auto;}
#wrapFooterArea{border-top:solid 1px #c7c7c7;border-bottom:solid 1px #c7c7c7;text-align:center;background:#eaeaea;padding:20px 0;margin-bottom:10px;}
#wrapFooter{width:950px;margin:0 auto;text-align:left;overflow:hidden;/display:inline-block;}
.f950 #wrapFooter{width:910px;}
.container #wrapFooter{width:auto;margin:0 10px;text-align:left;overflow:hidden;/display:inline-block;}
#footerInner{width: 100%;float: right;margin-left: -186px;}
#footerMain{margin:0 0 20px 186px;height:auto!important;height:300px;}
#uft {padding: 10px 0;text-align: center;}
#uftTask {padding: 20px 0px 10px 0px;text-align: center;border-top:1px solid #cccccc;}
#footer .guide,#footer .task,#footer .myPage,#footer .job{float:left;font-size:14px; padding-right:10px;width:220px;}
#footer .job{float:left;font-size:14px; padding-right:10px;width:230px;}
#footer .point{float:left;font-size:14px; padding-right:10px;width:210px;}
#footer .job li{text-indent:-14px;margin-left:14px;}
#footer .task{width:180px;}
/*#footer .guide{width:250px;}
#footer .myPage{width:180px;}
#footer .point{width:300px;}*/
#footer .fb{float:right;width:250px;background:#fff;border:1px solid #cccccc;}
#footer .fb .fb-like-box fb_iframe_widget{*display:block;*height:auto!important;*height:216px;}

/*-- .snsList --*/
.snsList{padding:10px 10px 5px;}
.snsListfb{padding:10px 10px 5px;border-bottom:1px solid #cccccc;}
.snsList .socialBtnTw iframe{*width:127px!important}
#footer address{margin-top:10px;clear:both;padding:20px 0 40px;text-align:center;border-top:solid 1px #c7c7c7;}

/*-- .changeDevice --*/
.changeDevice{text-align:center;font-size:14px;}
.changeDevice dl{display:inline-block;margin:0 auto;padding:5px 5px 5px 10px;border:1px solid #e7e7e7;background:#f9f9f9;}
.changeDevice dt{display:inline;}
.changeDevice dt:after{content:":";}
.changeDevice dd{display:inline;}
.changeDevice dd:after{content:"|";}
.changeDevice dd:last-child:after{content:"";}
.changeDevice p{font-size:12px;}
.changeDevice a,.footerDefault .changeDevice span{padding:0 5px;}
.changeDevice span{font-weight:bold;}

/*-- #information --*/
#info_line{border-bottom:4px solid #26b422; margin:0 0 2px 0;}
#information{ width: 100%; margin: -30px auto 10px;}
#informationHeader{height:3px;background:#26b422;font-size:0;}
#informationBody{padding:10px;background:none repeat scroll 0 0 #EAEAEA; }
#informationFooter{height:5px;background:url(../img/informationFooter.png) repeat-x;font-size:0;}
#information .defaultTitle,#information .agentTitle,#information .ownerTitle{
width:950px;margin:0 auto;overflow: hidden;/display:inline-block;}
#information .taskTitle{width:950px;margin:0 auto;/display:inline-block;}
#information .ttl{font-weight:bold;font-size:x-large;line-height:1.3;word-wrap:word-break;word-break: break-all;}
#information .txt{margin-left:5px;font-size:large;font-weight:normal;}
#information .defaultTitle .ttl{float:left;}
#information .taskTitle .ico{display:block;float:left;height:69px;width:69px;text-indent:-9999px;}
#information .taskTitle .status01{background:url(../img/icoTaskTitle01.png) no-repeat;}
#information .taskTitle .status02{background:url(../img/icoTaskTitle02.png) no-repeat;}
#information .taskTitle .status03{background:url(../img/icoTaskTitle03.png) no-repeat;}
#information .taskTitle .status04{background:url(../img/icoTaskTitle04.png) no-repeat;}
#information .taskTitle td{padding-left:10px;}
#information .taskTitle .task{display:inline-block;margin:3px 15px 0 0;padding:3px 8px;border:1px solid #aaa;font-size:12px;line-height:1.1;color:#999;}
#information .agentTitle .ttl{float:left;padding-top:5px;}
#information .agentTitle .status{float:right;overflow:hidden;/display:inline-block;}
#information .agentTitle .status dl{float:left;margin-left:15px;padding:5px 10px;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#999;text-align:center;color:#fff;overflow:hidden;/display:inline-block;}
#information .agentTitle .status dt,#information .agentTitle .status dd{float:left;}
#information .agentTitle .status dt{padding-right:8px;font-size:14px;line-height:32px;}
#information .agentTitle .status dt.cnt{padding-left:27px;background:url(../img/icoFlag_s.png) no-repeat 0 4px;}
#information .agentTitle .status dd{font-size:16px;}
#information .agentTitle .status span{padding-right:3px;font-size:20px;font-weight:bold;}
#information .ownerTitle .company{font-weight:normal;}

/*-- #adultAtt,#testAtt --*/
#adultAtt{margin-bottom:10px;padding:7px 0 4px;background:#000;text-align:center;}
#testAtt{margin:0;padding:7px 0 4px;background:#000;text-align:center;}
#adultAtt span{font-weight:bold;line-height:24px;color:#fff;}
#testAtt span{display:inline-block;font-weight:bold;line-height:24px;color:#fff;text-align:left;}
#adultAtt .ico,#testAtt .ico{background:url(../img/icoAlert.png) no-repeat 0px 0px;padding:3px 0 2px 33px;}

/*-- #contents --*/
#contentsLeft{position:relative;float:left;width:172px;margin:0 14px 0 0; min-height: 650px;height: auto !important;}
#contentsMainWrap{width: 100%;float: right;margin-left: -186px;}
#contentsMain{margin:0 0 20px 186px;min-height:300px;height:auto!important;height:300px;}

/*-- #wrapTask --*/
#wrapTask{overflow:hidden;/display:inline-block;}
#wrapTaskSub{float:left;width:300px;}
#wrapTaskMain{float:right;width:625px;}

/*-- #wrapMypage --*/
#wrapMy{overflow:hidden;/display:inline-block;}
#wrapMySub{float:left;width:180px;}
#wrapMyMain{float:right;width:745px;}

/*-- #wrapError --*/
#wrapError{width:745px;margin:30px auto;}
#wrapError .ttl{font-size:x-large;font-weight:bold;}
#wrapError .txtArea{background:#eaeaea;padding:10px;text-shadow:0 1px 0px white;margin:20px 0;}
#wrapError .txtArea ul{list-style-type:disc;padding-left:2em;}
#wrapError .mainte{text-align:center;padding:20px;}
#wrapError .lnkFooter{text-align:center;}

/* .nojs */
.nojs{width:600px;margin:10px auto;padding:15px;border:1px solid #f00;text-align:center;font-size:small;color:#f00;}
.nojs em{display:block;font-size:medium;font-weight:bold;}


/*----------------------------------------
Common Module
----------------------------------------*/

/*-- #pagingHeader / #pagingFooter --*/
#pagingHeader{margin: 5px 0;font-size:14px;overflow:hidden;/display:inline-block;}
#pagingLeftHeader{float:left;}
#pagingLeftHeader em{color:#fa4100;font-weight:bold;}
#pagingRightHeader{float:right;}
#pagingFooter{margin:20px 0;text-align:center;font-size:14px;}
.pagingPrevious{margin-right:10px;padding-left:15px;background:url(../img/leftCursor.png) no-repeat 0 5px;display:inline-block;}
.pagingPreviousNolink{margin-right:10px;padding-left:15px;background:url(../img/leftCursor_gray.png) no-repeat 0 5px;display:inline-block;}
.pagingNext{margin-left:10px;padding-right:15px;background:url(../img/rightCursor.png) no-repeat right 5px;display:inline-block;}
.pagingNextNolink{margin-left:10px;padding-right:15px;background:url(../img/rightCursor_gray.png) no-repeat right 5px;display:inline-block;}
.pagingNumber{padding:0 5px;}
.pagingCurrent{padding:0 5px;font-weight:bold;color:#f00;}
.pagingPreviousNolink,.pagingNextNolink{color:#999;}


/*-- .wrapLinkPagetop --*/
.wrapLinkPagetop{margin:20px 0;text-align:right;font-size:small;}
.wrapLinkPagetop a{padding-left:15px;background:url(../img/topCursor.png) no-repeat 0 5px;display:inline-block;}


/*-- Button --*/
.wrapButton{margin:50px 0;font-size:14px;text-align:center;}
*:first-child+html .wrapButton{margin:20px 0;font-size:14px;text-align:center;}
a.btnBlue,a.btnGray,a.btnOrangeFrame,a.btnGrayFrame,a.btnWhiteFrame,
span.btnBlue,span.btnGray,span.btnOrangeFrame,span.btnGrayFrame,span.btnWhiteFrame{
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
margin:0 15px;text-align:center;white-space:nowrap;font-size:14px;line-height:1;color:#fff;/overflow:hidden;/zoom:1;}
a.btnBlue,span.btnBlue{padding:10px 30px;background:#148ae5;}
em.btnsmall{font-size:16px;}
span.btnBlue,span.btnGray,span.btnOrangeFrame,span.btnWhiteFrame{cursor:pointer;}
.btnGrayFrame{cursor:default;}
a.btnGray,span.btnGray{padding:5px 30px;background:#ccc;color:#404040;}
a.btnOrangeFrame,span.btnOrangeFrame{padding:10px 30px;border:2px solid #fff;background:#f39800;
background:-webkit-gradient(linear, left top, left bottom, from(#f39800),to(#ec6800));
background:-moz-linear-gradient(center top ,#f39800,#ec6800);
background:linear-gradient(center top ,#f39800,#ec6800);
-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);font-weight:bold;}
a.btnGrayFrame,span.btnGrayFrame{padding:10px 30px;border:2px solid #fff;background:#ccc;
background:-webkit-gradient(linear, left top, left bottom, from(#666666),to(#b7b7b7));
background:-moz-linear-gradient(center top ,#dbdbdb,#b7b7b7);
background:linear-gradient(center top ,#dbdbdb,#b7b7b7);
-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);font-weight:bold;}
a.btnWhiteFrame,span.btnWhiteFrame{padding:5px 10px;border:2px solid #fff;background-color:#eaeaea;
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dfdfdf));
background:-moz-linear-gradient(top,#fff 0%,#dfdfdf 100%);
background:linear-gradient(top,#fff 0%,#dfdfdf 100%);
box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);color:#666;}

/*-- taskButton --*/
.wrapTaskButton{margin:0px 0px 20px 0px;font-size:16px;color:#fff;text-align:center;padding:0px 30px;}

/*-- taskOnButton --*/
a.btnTaskOn,div.btnTaskOn{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:20px 30px;text-align:center;white-space:nowrap;font-size:16px;line-height:1;color:#fff;/overflow:hidden;/zoom:1;}

a.btnTaskOn,div.btnTaskOn{cursor:pointer;}

a.btnTaskOn,div.btnTaskOn{width:230px;margin:10px 20px;line-height:15px;padding:15px 30px;border:2px solid #fff;background:#f39800;background:-webkit-gradient(linear, left top, left bottom, from(#f39800),to(#ec6800):200px;);
background:-moz-linear-gradient(center top ,#f39800,#ec6800);
background:linear-gradient(center top ,#f39800,#ec6800);
-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);display:inline-block;font-weight:bold;}

.btnTaskOn p {background-position:left -262px;}

/*-- taskOffButton --*/

a.btnTaskOff,div.btnTaskOff{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align:center;white-space:nowrap;font-size:16px;line-height:1;color:#fff;/overflow:hidden;/zoom:1;}

a.btnTaskOff,div.btnTaskOff{cursor:pointer;}

a.btnTaskOff,div.btnTaskOff{width:230px;margin:10px 20px;line-height:15px;padding:15px 30px;border:2px solid #fff;background:#f39800;background:-webkit-gradient(linear, left top, left bottom, from(#f39800),to(#ec6800):200px;);
background:-moz-linear-gradient(top,#fff 0%,#dfdfdf 100%);
background:linear-gradient(center top,#fff 0%,#dfdfdf 100%);
box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.35);color:#666;display:inline-block;font-weight:bold;}

.btnTaskOff p {background-position:left -262px;}

/*-- Status Icon --*/
.statusEdit,.statusRequestJudge,.statusJudge,.statusRejunction,.statusPrepare,.statusOpen,.statusInjunction,.statusEnd{
display:block;width:80px;margin:0 auto;padding:5px 0;line-height:1;white-space:nowrap;text-align:center;font-size:12px;color:#fff;}
.statusEdit{background-color:#ff7516;}
.statusRequestJudge{background-color:#7d9ac3;}
.statusJudge{background-color:#06F;}
.statusRejunction{background-color:#f33;}
.statusPrepare{background-color:#80b178;}
.statusOpen{background-color:#2D8C21;}
.statusInjunction{background-color:#72728c;}
.statusEnd{background-color:#000;}


/*-- .listTable --*/
.listTable{margin-bottom:30px;}
.listTable table{width:100%;}
.listTable th{padding:6px 5px;background:#75b11d;
background:-webkit-gradient(linear, left top, left bottom, from(#A4C723),to(#75B11D));
background:-moz-linear-gradient(center top ,#A4C723,#75B11D);
background:linear-gradient(center top ,#A4C723,#75B11D);
font-size:14px;text-align:center;white-space:nowrap;color:#fff;}
.listTable th a,.listTable th a:visited{text-decoration:underline;color:#fff;}
.listTable th a.do,.listTable th a.ao{padding-left:15px;}
.listTable th a.do{background:url(../img/sortButton.png) no-repeat 0 3px;}
.listTable th a.ao{background:url(../img/sortButton_ao.png) no-repeat 0 3px;}
.listTable td{border-bottom:1px solid #ccc;padding:10px 5px;font-size:87.5%;text-align:center;line-height:1.3;}
.listTable td div{display:block; margin:0 0 5px 0;}
.listTable td.txt{padding:10px;text-align:left;word-break:break-all;}
.listTable td.val{padding:10px;text-align:right;}
.listTable td img{padding-left:5px;vertical-align:middle;}
.listTable span.date,.listTable span.time{display:block;white-space:nowrap;}
.listTable span.pt,.listTable span.mpt,.listTable em{font-weight:bold;padding-right:3px;white-space:nowrap;}
.listTable span.pt{color:#fa4100;}
.listTable span.mpt{color:#3886fb;}
.listTable tr.clickable:hover td{cursor:pointer;background:#fffacd;}

/*-- .listTable TextIcon--*/
.listTable td.txt div.selection span{margin:0 5px 0 0;padding:0 10px;background:#333;color:#FFF;font-size:68.7%}
.listTable td.txt ul.category{margin:5px 5px 0 0; display: inline-block;}
.listTable td.txt ul.category:after{content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden;}
.listTable td.txt ul.category li{float:left;font-size:68.7%;margin:0 10px 0 0;}
.listTable td.txt div.client{clear:both;}
.listTable td.txt div.client span{padding: 0px;font-size:85%}

.spotlightbg {
	background-color: #339900;
	width: 115px;
	color:#FFF;
}
.spotlightbg .typeselect {
	background-image: url(../img/selection.png);
	background-repeat: no-repeat;
	background-color: #339900;
	background-position: left;
	padding:0 5px 0 0;
}
.spotlightbg .typeselect p{
	margin:0 0 0 30px;
	padding:4px 0 2px 0;
	font-size: 10px;
}
.spotlightbg .typekeyinput {
	background-color: #339900;
	background-image: url(../img/keyboard.png);
	background-repeat: no-repeat;
	background-position: left;
	width: 100px;
	padding-right: 10px;
	overflow:hidden;
}
.spotlightbg .typekeyinput p{
	margin:0 0 0 38px;
	padding:4px 0 2px 0;
	font-size: 10px;
}
.spotlightbg .typebutton {
	background-color: #339900;
	background-image: url(../img/yesno.png);
	background-repeat: no-repeat;
	background-position: left;
	padding:0 10px 0 0;
}
.spotlightbg .typebutton p{
	margin:0 0 0 35px;
	padding:4px 0 2px 0;
	font-size: 10px;
}

.spotlightbg .qasheets {
	background-color: #339900;
	background-repeat: no-repeat;
	background-position: left;
	padding:0 10px 0 0;
}
.spotlightbg .qasheets p{
	margin:0 0 0 35px;
	padding:4px 0 2px 0;
	font-size: 10px;
}
.catetype {
	padding:2px 5px;
	color: #339900;
	text-align: center;
	font-size: 10px;
	border: thin solid #339900;
}

.box_quest {
	width: 65px;
	padding: 0.5px;
	background-color: #FFF;
	background-repeat: no-repeat;
	border: thin solid #339900;
}
.box_quest .quest_text {
	padding-top: 1.5px;
	padding-left: 3px;
	color: #339900;
}
.box_article {
	width: 62px;
	padding: 0.5px;
	background-color: #FFF;
	background-repeat: no-repeat;
	border: thin solid #339900;
}
.box_article .article_text {
	padding-top: 1.5px;
	padding-left: 3px;
	color: #339900;
}
.box_investigation {
	width: 38px;
	padding: 0.5px;
	background-color: #FFF;
	background-repeat: no-repeat;
	border: thin solid #339900;
}
.box_investigation .investigation_text {
	padding-top: 1.5px;
	padding-left: 3px;
	color: #339900;
}

#banner_area img{
	margin:0 0 10px 0;
}

/* variation */
.listTable .agentTaskList th{width:15%;}
.listTable .agentTaskList td.judg{padding:10px;text-align:center;font-size:110% !important;}
.listTable .agentTaskList td.pt{padding:10px;text-align:center;}
.listTable .agentTaskList .taskName{width:65%;}
.listTable .agentTaskList .taskPoint{width:15%;}
.listTable .agentTaskList .taskRest{width:20%;}
.listTable .agentTaskList .taskNameVer2{width:60%;}
.listTable .agentTaskList .taskPointVer2{width:20%;}
.listTable .agentTaskList .txtLink{display:block;font-size:120%;}
.listTable .agentTaskList .txtTask,.listTable .agentTaskList .timeStart{display:block;padding-top:5px;font-size:small;line-height:1;color:#777;}
.listTable .agentTaskList .txtTask{float:left;margin-right:10px;}
.listTable .agentTaskList .icoAdult{display:block;float:left;margin-top:5px;background:url(../img/icoAdult.png) no-repeat;height:14px;width:30px;overflow:hidden;text-indent:-9999px;}
.listTable .agentTaskList span.icoPtBg{ display:block;width:85px;overflow:hidden;margin:20px 0 0 20px;padding:5px 10px 3px 10px;border:1px solid #b6b6b6;border-radius:4px;background:#eeeeee;text-align:center;font-weight:bold;color:#fa4100;}
.listTable .agentTaskList td.judg span.icoPtBg{ display:block;width:85px;overflow:hidden;margin:20px 0 0 20px;padding:5px 10px 3px 10px;border:1px solid #b6b6b6;border-radius:4px;background:#eeeeee;text-align:center;font-weight:bold;color:#fa4100;}
.listTable .agentTaskList span.standard{display:block;font-size:87.5%;}
.listTable .agentTaskList span.gain{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat;padding:0 0 0 18px;}
.listTable .agentTaskList span.gainSecondary{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat center left;padding:0 0 0 20px;font-size:120%;}
.listTable .agentTaskList span.strong{display:block;font-weight:bold;color:#777;}
.listTable .agentTaskList span img{padding:0 3px 2px 0; vertical-align:middle;}
.listTable .agentTaskList .timeStart{float:right;}
.listTable .agentTaskList .cntAll{font-size:small;color:#777;}
.listTable .agentTaskList tr.bgwt{background:#ffffff;}
.listTable .agentTaskList tr.bggray{background:#F3F0E2;}
.listTable .agentMyTop .taskContent{width:410px;}
.listTable .agentMyTop .taskStatus{width:110px;}
.listTable .agentMyTop .taskName{width:450px;}
.listTable .agentMyTop .taskNameList{width:300px;}
.listTable .agentMyTop td a{font-size:medium;}
.listTable .agentMyTop .ptArea{width:140px;}
.listTable .agentMyTop .owner{display:block;font-size:12px;color:#666;}
.listTable .agentMyTop span.icoPt{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat scroll 2px 0px transparent;float:right;padding: 0px 0 0px 5px;font-weight:bold;color:#fa4100;}
.listTable .agentMyTop tr.bgwt{background:#ffffff;}
.listTable .agentMyTop tr.bggray{background:#F3F0E2;}
.listTable .agentMyTop span.icoPtBg{ display:block;width:85px;overflow:hidden;margin:0 5px 0 0px;padding:5px 10px 3px 10px;border:1px solid #b6b6b6;border-radius:4px;background:#eeeeee;text-align:center;font-weight:bold;color:#fa4100;float:right;}
.listTable .agentMyTop .ptOk{width:18px;height:18px;display:inline-block;float:left;padding:5px 5px 5px 0px;background:url(../img/ptok.png) no-repeat 0 5px;text-indent:-9999px;margin-left:3px;}
.listTable .agentMyTop .ptNg{width:18px;height:18px;display:inline-block;float:left;padding:5px 5px 5px 0px;background:url(../img/ptng.png) no-repeat 0 5px;text-indent:-9999px;margin-left:3px;}
.listTable .agentMyTop span.gain{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat;padding:0 0 0 18px;}
.listTable .agentMyTop span.gainSecondary {background: url("https://s.yimg.jp/images/sicons/point16.gif") no-repeat scroll left center transparent;padding: 2px 0 2px 20px;
}

.listTable .agentInfo{margin-top:10px;border-top:1px solid #ccc;word-break: break-all;word-wrap: break-word;}
.listTable .agentInfo .date{width:120px;}
.listTable .agentInfo .bgwt{background:#ffffff;}
.listTable .agentInfo .bggray{background:#F3F0E2;}
.listTable .agentTop .d01{width:270px; word-break:break-all;}
.listTable .agentTop .d02{width:100px;}
.listTable .agentTop .d03{width:105px;}
.listTable .agentTop .d04{width:60px;}
.listTable .agentTop td{font-size:14px;}
.listTable .agentTop span,.listTable {display:block;}
.listTable .agentTop span{color:#777;}
.listTable .agentTop span.icoPt{background:url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat scroll 2px 0px transparent;float:left;padding: 0px 0 0px 20px;font-weight:bold;color:#fa4100;}
.listTable .agentTop em{font-weight:bold;color:#fa4100;}
.listTable .agentTop tr.bgwt{background:#ffffff;}
.listTable .agentTop tr.bggray{background:#fdfddc;}

.listTable .agentTopMore{margin-top:15px;text-align:center;}
.listTable .agentList th,.listTable .agentList td{border:1px solid #ccc;}
.listTable .agentList .bl{width:210px;}
.listTable .agentList .btnBlue,.listTable .agentList .btnGray{margin:0 10px;padding:5px 30px;}
.listTable .agentList tr.gray td {background:#eaeaea;color:#999;}
.listTable .agentList tr.gray .btnGray{padding:5px 37px;cursor:default;color:#999;}
.listTable .reqMyList .reqName{width:370px;}
.listTable .reqMyList .reqDate{width:80px;}
.listTable .reqMyList tr.bgwt{background:#ffffff;}
.listTable .reqMyList tr.bggray{background:#F3F0E2;}


/*-- taskquestion --*/
#taskQuestion {
margin-bottom:10px;
}
#taskQuestion .ico{
background:#000;
color:#fff;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
line-height:1;
padding:0 2px;
}
#taskQuestion .txt{
display:block;
margin-top:10px;
font-size:small;
color:#666;
}
#taskWord{
font-weight:bold;
text-align:center;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
background:#eaeaea;
margin-bottom:25px;
overflow:hidden;
font-size:32px;
}

#taskKeyword{

text-align:center;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
background:#eaeaea;
margin-bottom:25px;
overflow:hidden;
font-size:24px;
}

#taskAns{
text-align:center;
margin-bottom:20px;
}
#taskAns select,
.taskAnsListSpec select{
border:1px solid #848484;
color:#404040;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
font-size:14px;
}
#taskAnsSample{
font-size:0.8em;
line-height:1.4em;
margin-bottom:15px;
}
a.taskButton{
background:#148AE5;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
color:#fff;
display:block;
font-size:0.9em;
font-weight:bold;
padding:0.3em 0;
text-align:center;
width:120px;
margin:0 auto;
}
#taskWord textarea {
border: 1px solid #848484;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
width:500px;
height:150px;
font-size:18px;
padding:3px;
margin:10px 0;
}

/*-- #bannerInfo --*/
.noData{padding:60px 0;text-align:center;}
.noDataList{padding:20px 0;text-align:center;min-height: 300px;height: auto !important;}
#wrapAgentTopSub .noData,#topAgentInfo .noData{padding:5px 0;margin-top:30px}
#bannerImg1st{margin:10px 0; background:url(../img/bn/qr_300x60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg2nd{margin:0 0 20px 0; background:url(../img/banner_02.png); width:300px; height:43px; overflow:hidden; text-indent:-9999px;}
#bannerImg3rd{margin:0 0 10px 0; background:url(../img/crowdworks_s.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg4th{margin:0 0 10px 0;}
#bannerImg5th{margin:0 0 10px 0; background:url(../img/bn/survey_300x60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg6th{margin:0 0 10px 0; background:url(../img/bn/necotask.png); width:300px; height:60px; overflow:hidden;text-indent:-9999px;}
#bannerImg7th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/ending/common/banner/bnr_ending01_30060.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg8th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/partner/banner/1410/bnr_app_300x60_cloud_30.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg9th{margin:0 0 10px 0; background:url(../img/bn/kotsu300x60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg10th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/reservation/yokolink/B/cloud_300_60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg11th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/edu/ymdi/2014/common/bnr_ymdi2014_30060.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg12th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/search/kcp/banner/150126_lotteria/yl_y_300_60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg13th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/familyportal/manabi/pc/img/banner/bnr_300_60.jpg); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg14th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/research/campaign/201503_monitor/assets/300x60_sp.jpg); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg15th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/yjcard/campaign/bnr/20171130/crowdsourcing_300_60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg16th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/weather/promo/banner/bnr_weatherapp_renew20150623.png); width:300px; height:50px; overflow:hidden; text-indent:-9999px;}
#bannerImg17th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/reservation/yokolink/C/yakiniku300_60.gif); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg18th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/cscg/fe/task/volunteer/300-60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg19th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/cscg/fe/task/job/job.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg20th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/cscg/fe/2.1/pc/img/bn/paypay_300x60_pc.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}
#bannerImg21th{margin:0 0 10px 0; background:url(https://s.yimg.jp/images/finance/card-loan/bnr/201907/300_60.png); width:300px; height:60px; overflow:hidden; text-indent:-9999px;}

/*-- balloon --*/
.balloon{
    background:url("../img/hinta.png") no-repeat scroll 5px 1px transparent;
    padding-left:45px;
    text-indent:-9999px;
    display:inline-block;
}
.balloonB{
    background:url("../img/hinta.png") no-repeat scroll 5px 10px transparent;
    padding-left:45px;
    text-indent:-9999px;
    display:inline-block;
}
#balloonTooltip {
	position:absolute;
	z-index:9999;
	color: #FFFFFF;
	font-size:12px;
	width:200px;
}
#balloonTooltip .balloonTooltipBody {
	background-color:#148AE5;
	opacity:0.8;
	padding:5px 5px 5px 10px;
}

/*---- modal popup ----*/
.popup_dat {
	display:none !important;
	position:absolute !important;
	z-index:9999 !important;
}
.popup_close{
	cursor:pointer !important;
}
.shadow {
	filter: alpha(opacity=60) !important;
	opacity: 0.6 !important;
	display: none !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	background: #000 !important;
	z-index: 9998 !important;
	cursor:pointer !important;
}


/* #scrollTop  */

#scrollTop{
	display: none;
	position: fixed;
	padding-top: 10px;
	bottom: 30px;
	right: 40px;
	cursor: pointer;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.goTop{
	display: block;
	width: 60px;
	padding: 12px 7px;
	color: #FFF;
	border-radius: 5px;
	background: #1EBA25;
	text-align:center;
}

.goTopText{
	font-size: 14px;
	font-weight: bold;
}


/*------------------------------
（あとで移動する系）
------------------------------*/

/*-- .infoDetail --*/
.infoDetail{margin-bottom:20px;text-align:left;word-break: break-all;word-wrap: break-word;}
.infoDetail .date{display:block;margin-bottom:5px;}
.infoDetail .ttl{margin-bottom:10px;border-bottom:1px solid #ccc;font-size:140%;font-weight:bold;}


/*-- #wrapAgentTop --*/
#wrapAgentTop{margin: 0 314px 0 186px;min-width: 440px;}
#wrapAgentTopSub{width:300px;}
#wrapAgentTopSub .module{border-bottom:1px solid #d3d3d3;border-top:1px solid #fff;background:#eaeaea;padding:5px 12px;}
#wrapAgentTopSub .module a#regButton{text-align:center;padding:12px;}
#wrapAgentTopMain .read{font-size:20px;color:#3c2110;}


/*-- #tabAgentTable --*/
#tabAgentTable{padding:8px 12px 0;background:#75b11d;
background:-webkit-gradient(linear, left top, left bottom, from(#A4C723),to(#75B11D));
background:-moz-linear-gradient(center top ,#A4C723,#75B11D);
background:linear-gradient(center top ,#A4C723,#75B11D);}
#tabAgentTable ul{overflow:hidden;/display:inline-block;}
#tabAgentTable li{float:left;}
#tabAgentTable em,#tabAgentTable a{display:block;font-size:14px;white-space:nowrap;}
#tabAgentTable em{padding:8px 15px;background:#fff;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 5px 0 0;}
#tabAgentTable a{padding:8px 15px;color:#fff;}
#tabAgentTable a:hover{color:#fa4100;}


/*-- .meterCount --*/
.meterCount{width:274px;height:25px;margin:10px auto 0;border:2px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.meterCountInner{position:relative;	background:#dcdcdc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;overflow:hidden;text-align:left;}
.meterCount span{display:block;}
.meterCount .meter{height:25px;width:100%;background:#a1c623;overflow:hidden;text-indent:-9999px;}
.meterCount .txt{position:absolute;top:4px;left:6px;font-size:12px;text-shadow:none;}


/*-- #myNavi --*/
#myNavi{margin-bottom:10px;}
#myNavi li{border-bottom:1px solid #d3d3d3;padding:10px;line-height:1;overflow:hidden;}


/*-- trial --*/
.trial-task {
	background: url("../img/trial-mark.png") no-repeat left top;
	padding-left: 60px !important;
}
.listTable tr.clickable:hover td.trial-task {
	background: url("../img/trial-mark.png") no-repeat left top #fffacd;
}
.trial-task-mark {
	background: url("../img/trial-mark-task.png") no-repeat !important;
}
.trial-task-att {
	border-radius: 6px;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	padding: 10px 10px 6px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: bold;
	color: #3a87ad;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.trial-task-regbutton {
	text-align: center;
	margin-top: 20px;
}
.trial-task-regbutton a {
	display: inline-block;
	text-align: center;
	font-size: large;
}
.trial-task-banner {
	text-align: center;
	margin-bottom: 15px;
}
.trial-task-reg {
	margin:auto;
	width:600px;
	height:100px;
	background: url("../img/cpnreg/ycrowdcpnreg600x100.png") no-repeat !important;
}

/* 2013-07-01 */

.endbanner {
	text-align:center;
	margin-top:20px;
}

/*-- IpadPC表示対応 --*/
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

#navigation_02{
	width: 100%;
	height:auto;
}

#navigationSegment_02{
	width: 100%;
}

ul#navigationLeftSegment_02{
	width: 75%;
	background: none;
	padding: 0;
}

ul#navigationLeftSegment_02{
	width: 75%;
	background: none;
	padding: 0;
	*zoom:1;
}

ul#navigationLeftSegment_02 li{
	display: table-cell;
	width: 33.333333333333333333333333333333%;
	padding: 0;
	border-right: 1px solid #00A0E9;
	border-bottom: 1px solid #00A0E9;
	box-shadow: 1px 0 1px #63C1DE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	background:none;
}

#navigationLeftSegment_02 a, #navigationLeftSegment_02 span {
	display:block;
	text-align: center;
    font-size: 18px;
    line-height: inherit;
	float:none;
	padding: 10px 0;
}

#navigationLeftSegment_02 a:hover,#navigation_02 span.current{
	background: none;
}

#navigationRightSegment_02 {
	display: table;
    float: none;
	width: 25%;
}

#navigationRightSegment_02 a{
	float:none;
	display: block;
    line-height: inherit;
	color:#ffffff;
	border-bottom: 1px solid #00A0E9;
	box-shadow: 1px 0 1px #63C1DE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	background:none;
}

#navigation_02 .guide{
	font-weight: nomal;
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}
#navigation_02 .my{
	padding: 10px 0;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}

#pagingHeader{
    font-size: 16px;
	padding: 0 5px;
}

#pagingFooter{
	font-size: 16px;
}

#footer .guide, #footer .task, #footer .myPage, #footer .job {
	width: 260px;
    font-size: 16px;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

#wrapAgentTop{width:100%;}
#wrapAgentTopMain{float:none; width: 100%; }
#wrapAgentTopSub{float:none;width:980px; margin: 0 auto;}
#bannerArea{ width: 300px; margin: 0 auto; padding: 10px 0 0;}
#bannerImg1st,#bannerImg4th,#bannerImg5th,#bannerImg3rd{ width: 300px; margin: 0 auto 20px}
#bannerImg3rd:after{ display:block;visibility:hidden;clear:both;height:0;content:".";}
#wrapAgentTopSub .module{ clear: both;}
#wrapMySub {float: none; width: 100%;}
#wrapMyMain {float: none; width: 100%;}
#myNavi li{padding: 0;}
#myNavi li strong,#myNavi li a{ display: block; padding: 15px 0 15px 10px;}
#agentMyTop .cmtPt,.listTable th{	font-size:16px;}
.listTable .agentMyTop td a{font-size: 120%;}
.listTable .agentMyTop .owner{ font-size:100%;}
.listTable .agentMyTop span.gainSecondary { font-size: 120%; padding: 2px 0 0 20px;}

}*/
