/* -----------common----------- */
body,input{
    color: #404040;
}
#contents {
    margin: 20px 0 0;
}
#wrapper{
    background: #f7f7f7;
    width: fit-content;
}
#header{
    position: relative;
    background: #fff;
    margin: 0;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
a:link, a:visited {
    color: #536dfe;
}
#scrollTop{
    opacity: 0.8;
}
.goTop{
    width: 60px;
    border-radius: 8px;
    background: #4CAF50;
}
#scrollTop .hover:hover .goTop{
    opacity: 1;
    background: #0D9E14;
}

/*-----------トップ-----------*/

/* ------------仕事を依頼したいボタン位置------------ */
#pagetop{
    position: static;
    margin-top: 0;
    margin-bottom: 20px;
}
#pagetopRight a{
    display: block;
    padding: 10px;
    margin: 0 20px;
    background: #F9D949;
    color: #404040;
    border-radius: 8px;
}
#pagetopRight a:hover{
    opacity: 0.8;
}
#pagetopLeft{
    display: none;
}
/* ------------仕事を依頼したいボタン位置完了------------ */
.boxArea{
    padding: 20px 0 10px;
    background: #fff;
}
.boxArea .boxInner{
    width: 860px;
    margin: -80px auto 0;
}
.infoArea .info{
    margin: 20px auto;
}
#yServiceList br{
    display: none;
}
.searchBox{
    float: none;
    width: 500px;
}
.keyWordBox{
    width: 400px;
    height: 36px;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.keyWordBox p input{
    padding: 0 8px;
    color: #404040;
    border-radius: 8px;
}
.searchBox .submitButton{
    width: 100px;
    background: #4CAF50;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.searchBox .submitButton:hover{
    background: #0D9E14;
    cursor:pointer;
}
.keywordList{
    float: none;
    padding: 12px 4px;
    font-size: 16px;
}
.keywordList dt{
    color: #757575;
}
.keywordList dt, .keywordList dd ul li{
    padding-right: 6px;
}
.keywordList dd a{
    color: #4CAF50;
}
.keywordList dd a:hover{
    color: #0D9E14;
    text-decoration: none;
}

#scrollNavi ul{
    padding: 0;
    border: none;
    background: #fff;
    font-size: 14.5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
#scrollNavi li{
    position: relative;
    margin: 0;
}
#scrollNavi li a{
    display: block;
    padding: 4px 8px;
    min-width: 150px;
    line-height: 40px;
    background-image: none;
    background: #404040;
    color: rgba(255,255,255,0.9);
}
#scrollNavi li:hover a{
    background: #242424;
    color: #fff;
}
#scrollNavi li.navi_01 a{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#scrollNavi li.navi_09 a{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 10px;
}
#scrollNavi li.navi_08 a, #scrollNavi li.navi_09 a {
    padding: 0;
    color: #536DFE;
}
#scrollNavi li.navi_08:hover a,#scrollNavi li.navi_09:hover a{
    background: none;
    color: #4CAF50;
}
#scrollNavi li.current a{
    background: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: default;
    pointer-events:none;
}
#scrollNavi li a::after{
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-135deg);
    right: 8px;
    content: "";
    width: 8px;
    height: 8px;
    border-left: 1.2px solid rgba(255,255,255,0.7);
    border-bottom: 1.2px solid rgba(255,255,255,0.7);
}
#scrollNavi li.current a::after{
    border-left: 1.2px solid #fff;
    border-bottom: 1.2px solid #fff;
}
#scrollNavi li:hover a::after{
    border-left: 1.2px solid #fff;
    border-bottom: 1.2px solid #fff;
}
.leftBnArea {
    top: 360px;
}

.pd10t{
    padding: 20px 0 0;
}
#easy, #skill,  #writing, #design, #development, #contentsMain{
    position: relative;
    background: #fff;
    border-radius: 8px;
    padding:  0 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
#wrapAgentTopMain .titleList05{
    border-left: none;
}
.titleList05{
    box-sizing: border-box;
    padding: 4px 0 0;
    margin: 0 0;
    border-bottom: 1px solid #bdbdbd;
    background: none;
}
.titleList05txtL{
    float: left;
    padding: 10px;
    color: #404040;
    font-size: 22px;
    font-weight: bold;
    box-sizing: content-box;
    border-bottom: 4px solid #4CAF50;
}
.titleList05txtR{
    padding: 16px 10px;
    color: #757575;
}
.listTable_02 .agentTaskList tr.bggray{
    background: #fff;
}
.listTable_02 td {
    border-bottom: 1px solid #e2e2e2;
}
.listTable_02 td.txt{
    padding: 10px 20px;
    line-height: 1.4;
}
.listTable_02 tr.clickable:hover td {
    cursor: pointer;
    background: #f7f7f7;
}
.listTable_02 tr.clickable td .txtLink a{
    color: #404040;
}
.listTable_02 tr.clickable:hover td .txtLink a{
    color: #4CAF50;
}
.typeIcon,.catetype_02{
    background: #fff;
    padding: 4px 10px;
    margin: 0 5px 4px 0 !important;
    color: #4CAF50;
    border-radius: 4px;
    border: 1px solid #4CAF50;
    font-size: 12px;
}
.listTable_02 .topTable .agentTaskList span.icoPt{
    position: absolute;
    right: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #404040;
}
.listTable_02 .topTable .agentTaskList span.fee,
.listTable_02 .topTable .agentTaskList span.timeRates {
    position: absolute;
    right: 10px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #404040;
    min-width: inherit;
}
.listTable_02 .topTable .agentTaskList ul .taskDetail{
    color: #757575;
}
.listTable_02 .topTable .agentTopMoreBox{
    margin: 16px 0;
    text-align: right;
}
.listTable_02 .topTable .agentTopMore{
    display: inline;
    background: none;
    border: none;
}
.listTable_02 .topTable .agentTopMore:hover {
    opacity: 1;
}
.listTable_02 .topTable .agentTopMore span {
    padding: 4px;
    font-size: 17px;
    background: none;
    color: #4CAF50;
    vertical-align: middle;
}
.listTable_02 .topTable .agentTopMore span:hover {
    color: #0D9E14;
}

#contentsRight a:hover{
    text-decoration: underline;
}

#bannerImg1st{
    background-size:contain;
}
#wrapAgentTopSub #rap_tpoint, #wrapAgentTopSub #rap_yservice,
#wrapAgentTopSub #rap_paypay_point{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
    padding: 12px;
    margin:10px 0px;
}
#wrapAgentTopSub .module{
    border-bottom: none;
    border-top: none;
    background: none;
    padding: 8px 8px 14px;
}
#wrapAgentTopSub .module:first-child{
    border-bottom: 1px solid #e2e2e2;
}
.module h3.info{
    padding: 0;
}
#rap_yservice{
    margin: 20px 0;
}
#yServiceList dl{
    border: none;
}
#yServiceList dt{
    background: none;
    padding-bottom: 8px;
    font-size: 14px;
}
#yServiceList dd{
    padding: 0 8px;
}
#yServiceList li{
    border-bottom: 1px solid #e2e2e2;
}
#yServiceList li:last-child{
    border-bottom: none;
}
#yServiceList .ico{
    margin-right: 0;
}
#yServiceList .txt{
    width: 220px;
}

#adSQB{
    padding-bottom: 20px;
}

#wrapFooterArea {
    border: none;
    background: #fff;
    padding: 20px 0 0;
    margin-bottom: 0;
}
#wrapFooter{
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
}
#footer .guide, #footer .job{
    width: 300px;
}
#footer span{
    display: block;
    padding-left: 24px;
    font-size: 20px;
    color: #757575;
}
#footer ul{
    margin: 0 14px 10px;
}
#footer ul li a{
    font-size: 14px;
    color: #404040;
    line-height: 1.5;
}
#footer ul li a:hover{
    color: #4CAF50;
}
#rap_sf{
    background: #fff;
}
#footer address{
    margin: 0;
    clear: both;
    padding: 20px 0 40px;
    text-align: center;
    border-top: none;
}
#footer address a:hover{
    text-decoration: underline;
}

/* -----------かんたん・単純----------- */
#contentsMain{
    background: #fff;
    padding: 0;
}
#contensHeader.easy, #contensHeader.skill, #contensHeader.writing, #contensHeader.design, #contensHeader.development{
    border-left: none;
    padding: 20px 20px 14px;
    border-bottom: 4px solid #4CAF50;
}
#contensHeader .cap{
    color: #757575;
}
#contents .txtS{
    position: absolute;
    top: 50px;
    right: 24px;
    color: #757575;
}
#rap_tppg, #rap_paypay_tppg{
    padding: 8px 20px 4px;
}
.border th{
    background: #f7f7f7;
    color: #757575;
}
.border th a, .border th a:visited{
    color: #404040;
}
.border th a:hover{
    color: #4CAF50;
}
.listTable_02 .agentTaskList span.strong {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #757575;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}
.listTable_02 .agentTaskList span.fee {
    color: #404040;
    font-size: 18px;
    line-height: 1.5;
}
.listTable_02 .agentTaskList span.icoPtBg {
    width: 200px;
    overflow: hidden;
    margin: 16px auto;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #404040;
}
.listTable_02 .agentTaskList span.f14{
display: block;
padding: 30px;
background: url(../img/ico_time_rates.png) no-repeat 13px center;
color: #404040;
font-size: 18px;
}
#pagingLeftHeader em {
    color: #4CAF50;
}
.pagingCurrent {
    padding: 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
}
#pagingLeftHeader {
    color: #757575;
}
.pagingPrevious, .pagingNext, .pagingPreviousNolink, .pagingNextNolink{
    background-image: none;
}
.pagingPreviousNolink, .pagingNextNolink {
    color: #bdbdbd;
}
#pagingRightHeader .pagingPrevious, #pagingRightHeader .pagingNext,
#rap_bopg .pagingPrevious, #rap_bopg .pagingNumber, #rap_bopg .pagingNext,
#rap_paypay_bopg .pagingPrevious, #rap_paypay_bopg .pagingNumber, #rap_paypay_bopg .pagingNext{
    color: #404040;
}
#pagingRightHeader .pagingPrevious:hover, #pagingRightHeader .pagingNext:hover,
#rap_bopg .pagingPrevious:hover, #rap_bopg .pagingNumber:hover, #rap_bopg .pagingNext:hover,
#rap_paypay_bopg .pagingPrevious:hover, #rap_paypay_bopg .pagingNumber:hover, #rap_paypay_bopg .pagingNext:hover{
    color: #4CAF50;
}

/* -----------タスク詳細----------- */
#informationHeader{
    background: #4CAF50;
}
#rap_taskinfo, #wrapTaskMain{
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
.taskMeta {
    padding: 12px 0;
    background: none;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #fff;
    text-align: center;
}
.taskMeta dd.entrytype span {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #4CAF50;
}
.taskMeta dt {
    margin: 5px 0;
}
.meterCountInner {
    background: #e2e2e2;
}
.meterCount {
    width: auto;
    border: none;
}
.meterCount .meter {
    background: #4CAF50;
}
.meterCount .txt {
    color: #fff;
    font-weight: bold;
}
#taskMetaWrap {
    background: none;
}
#information .taskTitle .ico{
    border-radius: 50%;
}
.alertText, .alertMainTaskText{
    border: 1px solid #4CAF50;
    background: #fff;
}
#wrapTask .entryButton .btnOrangeFrame,#d_nextbutton .btnOrangeBlock{
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
    font-size: 18px;
}
#wrapTask .entryButton .btnOrangeFrame:hover, a.btnWhiteFrame:hover, #d_nextbutton .btnOrangeBlock:hover, .stopButton:hover, #taskFinish .wrapButton .yes:hover, #taskFinish .wrapButton .no:hover{
    opacity: 0.7;
}
span.btnOrangeFrame, #d_nextbutton .btnOrangeBlock{
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    box-shadow: none;
    font-weight: bold;
}
a.btnWhiteFrame, span.btnWhiteFrame{
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
    color: #4CAF50;
    background: #fff;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #4CAF50;
    box-shadow: none;
}
a.btnGrayFrame, span.btnGrayFrame {
display: block;
margin: 0 auto;
padding: 10px 0;
width: 200px;
color: #757575;
background: #e2e2e2;
font-size: 16px;
font-weight: normal;
border-radius: 8px;
border: none;
box-shadow: none;
}
/* -----------タスク内容----------- */
.TimelimitTextRed {
    color: #4CAF50;
}
.formArea, .formArea2, .formArea3 {
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
.stopButton{
    padding: 7px;
    color: #4CAF50;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #4CAF50;
    box-shadow: none;
}

/* -----------タスクやめますか----------- */
#taskFinish .taskCnt{
    color: #4CAF50;
}
.wrapButton{
    display: block;
    justify-content: center;
}
#taskFinish .wrapButton .yes{
    display: block;
    width: 200px;
    margin: 25px auto;
    padding: 10px 0;
    border-radius: 8px; 
    background: #4CAF50;
    box-shadow: none;
    font-weight: bold;
}
#taskFinish .wrapButton .no{
    display: block;
    width: 200px;
    margin: 25px auto;
    padding: 10px 0;
    color: #4CAF50;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #4CAF50;
    background: none;
    box-shadow: none;
}
#taskFinish .ptArea{
    background-color: #f7f7f7;
    margin: 0 auto;
}

/* -----------タスク完了----------- */
#taskFinish .wrapButton .search {
    width: 300px;
    padding: 10px 0;
}

/* -----------マイページ----------- */
#headerBox{
    max-width: 1290px;
    min-width: 970px;
}
#navigation_02{
    width: 990px;
    margin: 0 auto 10px;
}
#navigation_02 .guide, #navigation_02 .my{
    font-size: 16px;
}
#navigationLeftSegment_02 a, #navigationLeftSegment_02 span{
    color: #404040;
}
#navigationRightSegment_02 a{
    color: #536dfe;
}
#navigationLeftSegment_02 a:hover, #navigation_02 .guide:hover, #navigation_02 .my:hover, #navigation_02 span.current{
    color: #4CAF50;
}
#informationBody{
    padding: 14px;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
#informationFooter{
    display: none;
}
#information .defaultTitle, #information .agentTitle, #information .ownerTitle{
    width: 990px;
}
#wrapContents{
    width: 990px;
    margin-top: 20px;
}
#wrapMySub{
    width: 190px;
    background: #fff;
    margin: 10px 10px 0 0;
    /* padding: 10px; */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
#myNavi{
    margin: 0;
}
#myNavi li{
    border: none;
    padding: 0;
}
#myNavi li a,#myNavi li strong{
    display: block;
    padding: 14px;
    color: #404040;
}
#myNavi li a:hover{
    background: #f7f7f7;
    color: #4CAF50;
}
#myNavi li strong{
    color: #fff;
    background: #4CAF50;
    pointer-events:none;
}
#myNavi li:first-child strong{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#myNavi li:last-child strong{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#wrapMy .wrapPointTab{
    float: right;
    margin: 10px auto 0;
    border-radius: 8px;
}
#wrapMyMain, #wrapMyMain_02{
    width: 740px;
    background: #fff;
    margin: 10px auto 0;
    padding: 30px 24px;
    border-radius: 8px;
    box-sizing: content-box;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
#wrapMy .wrapPointTab #wrapMyMain, #wrapMyMain_02{
    margin: 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#wrapMyMain a:hover, #wrapMyMain_02 a:hover{
    text-decoration: underline;
}
#taskResult .ttl2, #paypayTaskResult .ttl2{
    overflow: visible;
}
#taskResult .ttl2 .txt, #paypayTaskResult .ttl2 .txt {
    width: 400px;
    margin-bottom: 10px;
    font-size: 14px;
}
.refineTable th {
    width: 100px;
    font-size: 0.9em;
    font-weight: bold;
    background: none;
    text-align: center;
    border: none;
    color: #757575;
    background: #f7f7f7;
}
.refineTable ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.refineTable .status li{
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
    border-right: 1px solid #e2e2e2;
}
.refineTable .status li a{
    display: block;
    text-align: center;
    height: 41px;
    padding: 0 20px;
    line-height: 41px;
    color: #404040;
    background: #fff;
    border-radius: 30px;
}
#wrapMyMain .refineTable .status li:hover a{
    color: #4CAF50;
    background: #f7f7f7;
    text-decoration: none;
}
.refineTable .status em {
    display: block;
    font-weight: bold;
    padding: 0 20px;
    color: #fff;
    background: #4CAF50;
    line-height: 41px;
    border-radius: 30px;
}
.refineTable td{
    border: 0px solid #fff;
    border-right: none;
    padding: 0;
}
.application{
    margin-bottom: 8px;
}

.AllPoint {
    background-color: #f7f7f7;
    margin-bottom: 30px;
}
.multiple_question_hr{
    background: none;
}
.cmtPt {
    margin-bottom: 30px;
}
#agentMyTop .ttl .link,
#agentMyTopPayPay .ttl .link{
    font-size: 15px;
}
#agentMyTop .ttl #bar_legend ul .bar_legend li,
#agentMyTopPayPay .ttl #paypay_bar_legend ul .bar_legend li{
    font-size: 14px;
}
.listTable .agentMyTop a:hover{
    text-decoration: none !important;
}
.listTable th {
    background: #4CAF50;
}
.listTable td {
    font-size: 75%;
}
.listTable .agentMyTop tr.bggray {
    background: #fff;
}
.listTable tr.clickable:hover td {
    cursor: pointer;
    background: #f7f7f7;
}
.listTable td.txt .d_detailLink{
    color: #404040;
}
.listTable tr.clickable:hover td.txt .d_detailLink{
    color: #4CAF50;
}
.listTable .agentMyTop span.icoPtBg{
    margin: 2px auto;
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    color: #FF684F;
}
/*-----------マイページ/ポイントの切替えタブのcss-----------*/
.pointTabItem {
    width: calc(100%/2);
    height: 44px;
    background-color: #e2e2e2;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    color: #757575;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
    cursor: pointer;
}
.wrapPointTab #TpointLabel{
    border-top-left-radius: 8px;
}
.wrapPointTab #PayPayLabel{
    border-top-right-radius: 8px;
}
.pointTabItem:hover{
    opacity: 0.75;
}
input[name="pointTabItem"]{
    display: none;
}
.pointTab {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}
#TpointBtn:checked ~ #wrapMyMain,
#PayPayBtn:checked ~ #wrapMyMain_02{
    display: block;
}
.wrapPointTab input:checked + .pointTabItem {
    background-color: #fff;
    color: #4CAF50;
    border-bottom: 3px solid #4CAF50;
    box-sizing: border-box;
}
/*-----------マイページ/ポイントの切替えタブのcss完了-----------*/


/* -----------利用ガイド----------- */
.capImg {
    display: flex;
}
#guide h3 {
    border-bottom: 2px solid #4CAF50;
    margin: 1em 0 0.5em;
}
.guideTable th {
    background-color: #f7f7f7;
}
#taskLink h4 {
    border-radius: 8px;
    background: #f7f7f7;
    padding: 10px;
    margin-right: 10px;
}
#taskLink h4:hover{
    opacity: 0.75;
}
#taskLink h4:hover a{
    text-decoration: none;
}
#rap_guidedtl .guideButton:hover{
    opacity: 0.75;
    text-decoration: none;
}
/* -----------利用ガイド 完了----------- */

/* -----------エントリー済みタグ文字サイズ修正----------- */
@media (min-width: 768px){
    .statusComplete, .statusTempComplete, .statusTimeout, .statusReturn, .statusWorking, .statusRejection {
        font-size: 12px;
    }
}
@media (min-width: 880px){
    .statusComplete, .statusTempComplete, .statusTimeout, .statusReturn, .statusWorking, .statusRejection {
        font-size: 12.5px;
    }
}
@media (min-width: 990px){
    .statusComplete, .statusTempComplete, .statusTimeout, .statusReturn, .statusWorking, .statusRejection {
        font-size: 13px;
    }
}
.statusComplete, .statusTempComplete, .statusTimeout, .statusReturn, .statusWorking, .statusRejection{
    width: 100px;
    font-size: 13px;
    white-space: unset;
}
/* -----------エントリー済みタグ文字サイズ修正完了----------- */

/* -----------応募・詳細ボタン位置修正----------- */
#informationArea{
    overflow: visible;
}

.entryButton{
    display: block;
}
.gaibu{
    margin-top: 10px;
}
/* -----------応募・詳細ボタン位置修正完了----------- */
/* -----------「利用登録-ガイドラインへの同意確認」ページ修正----------- */
#regBox{
    padding-top: 50px;
}
#regBox .wrapButton, #rap_rtntop .wrapButton{
    margin-top: 24px;
}
#d_agentRegisterButton{
    width: 300px;
}
#regBox .btnOrangeFrame:hover{
    opacity: 0.8;
}
#kiyaku{
    background: #fff;
}
#rap_rtntop .btnWhiteFrame:hover{
    opacity: 0.7;
    background: #fff;
}
/* -----------「利用登録-ガイドラインへの同意確認」ページ修正完了----------- */

/*-- リアルタイムタスク枠修正 --*/
.guer{
    margin: 0 0 20px 186px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 8px rgba(209,209,209,0.3);
}
.guer h3 {
    margin: 0;
    padding: 8px 20px;
    color: #fff;
    background-color: #4CAF50;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.guer .agentTaskList{
    border: none;
}
.guer .agentTaskList th{
    background: #f7f7f7;
    color: #757575;
}
.guer th a, .guer th a:visited {
    color: #404040;
}
.guer .agentTaskList tr:last-child td{
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*-- リアルタイムタスク枠修正完了 --*/

/* ------0326追加------ */
.apiTop{
    background: #e2e2e2;
    border-radius: 8px;
}
.titleList05Api {
    margin: 0;
    padding: 4px 10px;
    background: #4CAF50;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.titleList05txtLApi{
    max-height: none;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}
ul.listCard{
    margin: 0 6px;
    padding: 10px 0;
}
.apiTop .card{
    padding-left: 10px;
}

.twoColumn li.card{
    margin: 4px 0;
    width: calc(50% - 15px);
}
.apiTop .agentTaskList{
    border: none;
}
.apiTop tr.clickable:hover td{
    background: #fff;
    box-shadow: 0 4px 8px rgba(209,209,209,0.5);
    transform: translate(0, -2px);
    transition: ease-in-out 0.2s;
}
.listCard .agentTaskList .txtLink{
    margin-bottom: 6px;
    padding-top: 4px;
    border-bottom: 1px solid #e2e2e2;
}
.apiTop tr.clickable td .txtLink a{
    color: #404040;
}
.apiTop tr.clickable:hover td .txtLink a{
    color: #4CAF50;
}
.twoColumn .agentTaskList .pt{
    float: right;
}
.listCard .agentTaskList .pt span.gainSecondary{
    font-size: 26.4px;
}
.listCard .client{
    margin: 6px;
}
.twoColumn .agentTaskList .judg{
    padding-bottom: 4px;
}
