@charset "utf-8";

/*-- Su --*/
#Su ul li.Su_y{
	display: inline-block !important;
	text-align:center;
}
.Su_y span{
	color: #333333;
}
#Su{
	width: 60%;
	word-break: break-all;
	/*text-align:center !important;*/
}
#Sg h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    padding: 0 0 5px;
	text-shadow:0 1px 1px #FFFFFF;
}

#Sg h1 span{
    display: block;
}

/*-- listRowlink2 --*/
.listRowlink2{
	margin: 0px 10px 10px 10px;
	border-top: 1px solid #e6e6e6;
}
.listRowlink2 li{
	border-bottom: 1px solid #e6e6e6;
	background: #ffffff;
}

/*-- listRowlinkNews --*/
.listRowlink{
	margin: 0px 10px 0px 10px;
}
.listRowlink li{
	border-bottom: 1px solid #e6e6e6;
	background: #ffffff;
}

.listRowlink li.getPoint{
	border-bottom: 1px solid #e6e6e6;
	background: #FFFFCC;
}

.listRowlink img{
	vertical-align: bottom;
}
.listRowlink .image{
	display: block;
	float: left;
	margin-right: 10px;
}
.listRowlink dl{
	overflow: hidden;
}
.listRowlink .title{
	margin: 5px;
	margin-bottom: 2px;
	line-height: 1.25;
	font-size: 16px;
	font-weight: bold;
}
.listRowlink .title:only-child{
	line-height: 20px;
}
.listRowlink .explanation{
	margin-bottom: 3px;
	line-height: 1.3;
	color: #333333;
	font-size: 14px;
}
.listRowlink .explanation:only-child{
	line-height: 20px;
}

.listRowlinkCategory{
	margin-bottom: 10px;

}
.listRowlinkCategory .readMore{
	border-top: 4px solid #f6f6f6;

}
.listRowlinkCategory .readMore:after{
	display: block;
	clear: both;
	height: 0;
	content: ".";
	visibility: hidden;
}
.listRowlinkCategory .readMore a{
	display: block;
	float: right;
	margin-top: -4px;
	border: 4px solid #f6f6f6;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 4px;
	background: #ffffff;
}
.listRowlinkCategory .readMore span{
	display: block;
	position: relative;
	margin-top: -1px;
	padding: 0 2px 2px 2px;
	border: 1px solid #e2e2e2;
	border-top: 0;
	border-radius: 0 0 2px 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius: 0 0 2px 2px;
	background: #ffffff;
}
.listRowlinkCategory .readMore span span{
	display: block;
	position: relative;
	padding: 8px 13px;
	border: 0;
	background: #ffffff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff), color-stop(1,#f3f3f3));
	background: -moz-linear-gradient(top,#ffffff,#f3f3f3);
	background: linear-gradient(top,#ffffff,#f3f3f3);
	font-weight: bold;
	color:#148AE5;
}

/*-- labelIndexInfo --*/
.labelIndexInfo{
	margin: 0 10px 0px 10px;
	border-bottom: 3px solid #f6f6f6;
}
.labelIndexInfo div{
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #e2e2e2;
	background: #ffffff;
	overflow: hidden;
}
.labelIndexInfo .title{
	display: inline;
	margin-right: 12px;
	padding: 2px 0 4px 8px;
	border-left: 4px solid #78B31D;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	vertical-align: middle;
}

/*-- ptLine --*/
.ptLine{
	display: table;
	padding: 15px 0px;
	width: 100%;
	word-break: break-all;

}
.ptLine a{
	color:#148AE5;

}
.ptLine  dt{
	display: table-cell;
	width: 90px;
	font-size: 12px;
}
.ptLine dd{
	display: table-cell;
	font-size: 14px;

}
.ptLine dd.pt{
	display: table-cell;
	width: 90px;
	text-align: right;
}

.ptLine dd.pt span.orange{
	color: #FA4100;
	font-weight: bold;
	background:url(https://s.yimg.jp/images/sicons/point18.png) left no-repeat;
	font-size: 14px;
	padding-left:20px;
}
.ptLine dd.pt span.blue{
	font-weight: bold;
	color: #3786FC;
}



/* statusIcon */
.ptLine dt span.statusOpen {
background-color:#2d8c21;
}
.ptLine dt span.statusEdit {
background-color:#ff7516;
}
.ptLine dt span.statusComplete{
background-color:#ff7516;
}
.ptLine dt span.statusTempComplete{
background-color:#0066ff;
}
.ptLine dt span.statusTimeout{
background-color:#72728c;
}
.ptLine dt span.statusReturn{
background-color:#000;
}
.ptLine dt span.statusWorking{
background-color:#2d8c21;
}

.ptLine dt span.statusRejection{
background-color:#7D9AC3;
}


/*-- nav --*/
nav .listRowlink ul{
	border-top: 1px solid #e6e6e6;

}
nav .listRowlink li{
	overflow: hidden;
	display: block;
	padding: 8px 0px 8px 0;
	color: #333333;

}

nav .listRowlink li a{
	background: url(../img/arrow_blue_next_l.png) no-repeat right center;
	display: block;
	overflow: hidden;
	color:#148AE5;

}

nav .listRowlink .secondLevel{
	margin: 0px 0px 0px 24px;
	padding: 8px 0px 8px 0;
	line-height: 1.25;
	font-size: 14px;
	font-weight: bold;
}

nav .listRowlink dt.current a{
	background:none;
}

nav .listRowlink dd.secondLevel{
	border-bottom: 1px solid #E6E6E6;
}

nav .listRowlink dd:last-child{
	border-bottom: 1px solid #FFFFFF;
}

/*--sagyouBtn --*/
.pointnoteBtn{
	display:table;
	width:100%;
	padding-bottom: 10px !important;
	margin-top:20px;
}

.pointnoteBtn p.left{
	display:table-cell;
	padding-left:10px;

}
.pointnoteBtn p.right{
	display:table-cell;
	text-align:right;
	padding-right:10px;
}

.pointnoteBtn p a{
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#CCCCCC));
	background: -moz-linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background: linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background-color: #CCCCCC;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #666666 !important;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	width: 120px;
	text-shadow:0 1px 1px #FFFFFF;
}

.pointnoteBtn p span{
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#CCCCCC));
	background: -moz-linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background: linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background-color: #CCCCCC;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #666666 !important;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	text-shadow:0 1px 1px #FFFFFF;
	cursor: pointer;
}

/*----- regNextLink -----*/
.regNextLink a,.pointaskBtn a{
	background: #CCCCCC;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff), color-stop(1,#CCCCCC));
	background: -moz-linear-gradient(top,#ffffff,#CCCCCC);
	background: linear-gradient(top,#ffffff,#CCCCCC);
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    color: #666666 !important;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 10px;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 60%;
	clear: both;
}

.regNextLink span,.pointaskBtn span{
    background: #CCCCCC;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff), color-stop(1,#CCCCCC));
	background: -moz-linear-gradient(top,#ffffff,#CCCCCC);
	background: linear-gradient(top,#ffffff,#CCCCCC);
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    color: #666666 !important;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 10px;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    width: 60%;
}

/*--refineTable --*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.refineTable th {
    background: none repeat scroll 0 0 #E9EEF5;
    font-size: 14px;
    font-weight: bold;
}
.refineTable td, .refineTable th {
    border: 1px solid #B8B8B8;
    padding: 8px;
	font-size: 14px;
}
.refineTable td span.pt{
    color: #FA4100;
	font-weight: bold;
}
.refineTable td span.cpt{
    color: #FA4100;
	font-weight: bold;
	padding-left: 20px;
	background: url(https://s.yimg.jp/images/sicons/point18.png) no-repeat left center;
}
.refineTable td span.sub {
	font-size: 12px;
	display: block;
}

/*--noteTable --*/
.noteTable{
   width: 100%

}
.noteTable th {
    font-size: 14px;
	white-space: nowrap;
	width: 29%;

}

.noteTable th.day {
    font-size: 14px;
	white-space: nowrap;
	width: 42%;

}

.noteTable td{
    padding: 0px 0px 10px 0px;
	font-size: 14px;
}

.noteTable th {
    padding: 10px 0px 4px 0px;
	font-size: 14px;
}
.noteTable td span.pt{
    color: #FA4100;
	font-weight: bold;
}
.noteTable td span.sub {
	font-size: 12px;
	display: block;
}

.noteTable td.pget,.noteTable td.psum,.noteTable td.plost{
	text-align: right;
}

.noteTable td.pget span{
	font-weight: bold;
	color: #FA4100;
}

.noteTable td.plost span{
	font-weight: bold;
	color: #3786FC;
}

.noteTable td.psum span{
	color: #FA4100;
	font-weight: bold;
}

/*--pointnoteBtn2 --*/
.pointnoteBtn2{
	display:table;
	width:100%;
	padding-bottom: 10px !important;
	margin-top:20px;
}

.pointnoteBtn2 p.yes{
	display:table-cell;
	padding-left:10px;

}
.pointnoteBtn2 p.no{
	display:table-cell;
	text-align:right;
	padding-right:10px;
}
.pointnoteBtn2 p.yes a{
	background: -webkit-gradient(linear,left top,left bottom,from(#148AE5),to(#0E62A0));
	background: -moz-linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background: linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background-color: #0E62A0;
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
}

.pointnoteBtn2 p.no a{
	background: -webkit-gradient(linear,left top,left bottom,from(#CCCCCC),to(#A4A4A4));
	background: -moz-linear-gradient(top,#CCCCCC 0%,#A4A4A4 100%);
	background: linear-gradient(top,#CCCCCC 0%,#A4A4A4 100%);
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
}

.pointnoteBtn2 p.yes span{
	background: -webkit-gradient(linear,left top,left bottom,from(#148AE5),to(#0E62A0));
	background: -moz-linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background: linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background-color: #0E62A0;
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

.pointnoteBtn2 p.no span{
	background: -webkit-gradient(linear,left top,left bottom,from(#CCCCCC),to(#A4A4A4));
	background: -moz-linear-gradient(top,#CCCCCC 0%,#A4A4A4 100%);
	background: linear-gradient(top,#CCCCCC 0%,#A4A4A4 100%);
    font-weight: bold;
    padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	display: inline-block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

.rpt {
	padding: 10px;
	border: 2px solid #7BB41B;
	text-align: center;
	margin: 0px auto 8px;
	width: 80%;
}

.rpt span.totalPt{
	padding-left:20px;
}

.rpt span.ptext{
	padding-left:20px;
	color: #FA4100;
	font-weight: bold;
	background:url(https://s.yimg.jp/images/sicons/point18.png) left top no-repeat;
}
#wrapMyMain_02 .rpt span.ptext{
	background: url(https://s.yimg.jp/images/cscg/fe/2.1/pc/img/icon/paypay20.png) no-repeat scroll left center transparent;
    color: #404040;
}

ul.ptext{
	margin: 0px 0px 5px 0px;
}

ul.ptext li{
	margin: 0px 0px 5px 10px;
}

p#pageNo {
	margin: 0px 0px 10px 10px;
	float: left;
}

/*-- ptLine --*/

.ptLine a{
	color:#148AE5;

}

.ptLine dd{
	display: table-cell;
	font-size: 14px;

}
.ptLine dd.pt{
	display: table-cell;
	width: 95px;
	text-align: right;
	font-size: 12px;
}

.ptLine dd.pt span.orange{
	color: #FA4100;
	font-weight: bold;
}
.ptLine dd.pt span.blue{
	font-weight: bold;
	color: #3786FC;
}

.ptLine dt span{
	padding: 3px;
	background-color: #FF7415;
	width: 80px !important;
	font-size: 10px;
	color: #FFFFFF;
	display: block;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
}


.ptLine dt span.finish{
	background-color: #FF7516;
}
.ptLine dt span.timeup{
	background-color: #72728C;
}
.ptLine dt span.cancel{
	background-color: #000000;
}


/*-- cpoint --*/
.cpoint,.cash,.ypoint{
	border: 1px solid #CCCCCC;
	margin: 0px 10px 20px;
	line-height: 1.4;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}
.cpoint h3,.cash h3,.ypoint h3{
	padding: 10px;
	background-color: #EBF7FA;
	margin: -10px -10px 10px -10px;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	text-align: center;
	text-shadow:0 1px 1px #FFFFFF;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;

}
.cpoint .error{
	font-weight: bold;
	color: #FF0000;
	font-size: 12px;
	margin:0 0 10px 0px;

}
.cpoint input{
	padding:5px;
}


.cpoint .point,.cpoint .all{
	text-align: center;
	margin:0 0 10px 0px;
	font-size:14px;
}

.cpoint .pt{
	font-size:14px;
	color: #FA4100;
	font-weight: bold;
}

.cpoint span.btn{
	margin:0 3px 0 3px;
	border: 2px solid #FFFFFF;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5AA51;
	background: -moz-linear-gradient(top,  #F5AA51 0%, #F96A3F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5AA51), color-stop(100%,#F96A3F));
	background: linear-gradient(top,  #F5AA51 0%,#F96A3F 100%);
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	display: inline-block !important;
	padding: 5px 8px;
	color: #ffffff !important;
	line-height: 18px;
	text-shadow: 1px 1px 3px #CB3E07;
	cursor: pointer;
}

.cpoint a.btn{
	margin:0 3px 0 3px;
	border: 2px solid #FFFFFF;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5AA51;
	background: -moz-linear-gradient(top,  #F5AA51 0%, #F96A3F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5AA51), color-stop(100%,#F96A3F));
	background: linear-gradient(top,  #F5AA51 0%,#F96A3F 100%);
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 5px 8px;
	color: #ffffff !important;
	line-height: 18px;
	text-shadow: 1px 1px 3px #CB3E07;
}

/*-- cnt --*/
.cnt table{
	width:100%;
}
.cnt td{
	font-size:14px;
	text-align:right !important;

}

.cnt th{
	font-size:14px;
	width:100px;
	text-align:left !important;

}

.cnt td span{
	font-weight: bold;
	color: #FA4100;
}
.cnt td span.blue{
	font-weight: bold;
	color: #3786FC;
}

.remain{
	margin:0 10px 20px 10px;
	text-align:right;
}

.remain span{
	font-weight: bold;
	color: #FA4100;
}


.confirmBtn a{
	background: -webkit-gradient(linear,left top,left bottom,from(#148AE5),to(#0E62A0));
	background: -moz-linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background: linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background-color: #0E62A0;
    font-weight: bold;
    padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	margin: 0px auto 10px;
	display: block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
}

.confirmBtn span{
	background: -webkit-gradient(linear,left top,left bottom,from(#148AE5),to(#0E62A0));
	background: -moz-linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background: linear-gradient(top,#148AE5 0%,#0E62A0 100%);
	background-color: #0E62A0;
    font-weight: bold;
    padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
	margin: 0px auto 10px;
	display: block;
	font-size: 14px;
	width: 100px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}


/*-- tab
.tabMenu{
	overflow: hidden;
}
.tabMenu .tab{
	display: table;
	overflow: hidden;
	width: 100%;
	background: url(../img/loop_common.png) repeat-x;
}
.tabMenu .tab li{
	display: table-cell;
	height: 100%;
	font-size: 16px;
	color: #333333;
	text-align: center;
    padding:0 4px 0 9px;
	line-height: 41px;
	width: 50%;
}
.tabMenu .tab li:last-child{
    padding:0 9px 0 4px;
}
.tabMenu .tab li a.selected{
	background: #FFFFFF;
}
.tabMenu .tab li:first-child{
	font-weight: bold;
	color: #999999;
}
.tabMenu .tab li a{
	color: #000000;
	display:block;
	border-top: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#E0E0E0));
	background: -moz-linear-gradient(top,#FFFFFF 0%,#E0E0E0 100%);
	background: linear-gradient(top,#FFFFFF 0%,#E0E0E0 100%);
	-webkit-box-shadow: 0px 0px 3px #AFAFAF;
	-moz-box-shadow: 0px 0px 3px #AFAFAF;
	box-shadow: 0px 0px 3px #AFAFAF;
	vertical-align: middle;
	text-shadow: 0px 2px 0px #FFF;
}
.tabMenu .tab li a{
	display: block;
}
.tabMenu .tab li:first-child a{
	color: #999999;
}
.tabMenu .tab li:last-child a{
	color: #333333;
}
#header .tabMenu{
	margin: 0;
}
#header .tabMenu .tab{
	margin-bottom: 0;
}--*/


.rmtime{
	font-size: 12px;
	color: #666666;
	margin: 8px 0px 0px 12px;
	float: left;
}
.panel{
	margin: 0px;
}
.panel li{
	border-bottom: 1px solid #CCCCCC;
	background: #ffffff;
	display: table;
	width: 100%;
}
.panel li:last-child{
	border-bottom: none;
}
.panel li a{
	overflow: hidden;
	display: block;
	padding: 10px 30px 10px 10px;
	background: url(../img/arrow.png) no-repeat right center;
	color: #333333;
}
.panel img{
	vertical-align: bottom;
}
.panel .image{
	display: block;
	float: left;
	margin-right: 12px;
	display: table-cell;
}
.panel .title{
	margin: 0px 0px 0px 0px;
	line-height: 1.25;
	font-size: 16px;
	display: table-cell;
}
.panel .title:only-child{
	line-height: 20px;
}
.panel .explanation:only-child{
	line-height: 20px;
}
.panel .explanation:only-child{
	line-height: 20px;
}


/*-- srireki --*/
.owner{
	display: block;
	font-size: 12px;
}

.pt .time{
	font-size: 12px;
}

.pt .time span{
	display: block;
}

.pt .getp span.getptxt{
	display: block;
	font-size: 12px;
}

.headWrapInner{
	display: table;
	padding-bottom: 10px;
	width: 100%;
}

.headWrapInner p.formTitle{
	display: table-cell;
	width: 65px;
	font-size: 12px;
	padding:0 3px 0 5px;
}

.headWrapInner form{
	display: table-cell;
	padding: 0px 3px 0px 3px;
	text-align: left;
}

.headWrapInner .lcell{
	display: table-cell;
	text-align: right;
	width: 85px;
	padding-right: 10px;
}

nav{
	clear: both;
}


/*-- modalDefault 1.0.1 --*/
.modalDefault{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.modalDefault .modalBack {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	opacity: 0.5;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.modalDefault .modalPopup{
	display: block;
	position: relative;
	width: 85%;
	margin: 0 auto;
	padding: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.modalDefault .modalPopupInner{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
/* modalHeader */
.modalDefault .modalHeader{
	padding: 20px 10px 0 10px;
}
.modalDefault .modalHeader p{
	font-size: 16px;
}
/* modalContainer */
.modalDefault .modalContainer{
	padding: 15px 10px;
}
.modalDefault .modalContainer p{
	font-size: 16px;
	font-weight: bold;
	color: #617589;
	margin: 0 0px 10px 0px;
	background: #F2F2F2;
	padding: 10px
}
/* modalFooter */
.modalDefault .modalFooter {
	padding-bottom: 20px;
}

/* modalButton */
.modalDefault .modalButton{
	margin: 0 20%;
	padding: 0 10px;
	text-align: center;
	vertical-align: bottom;
	width: 60%;
}
.modalDefault .modalButton p{
	margin: 0 auto;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),color-stop(0.5,#ffffff),to(#ebebeb));
	background: -moz-linear-gradient(center top ,#ffffff,#ffffff 50%,#ebebeb);
	background: linear-gradient(center top ,#ffffff,#ffffff 50%,#ebebeb);
	font-size: 14px;
	font-weight: bold;
}
.modalDefault .modalButton a{
	display: block;
	height: 30px;
	padding: 0;
	border-top: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	line-height: 30px;
	font-weight: bold !important;
}
/*-- skins1 --*/
.modalDefault .skins1 .modalPopupInner{
	color: #ffffff;
}
.modalDefault .skins1{
	border-color:#fbfcfb;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#c5d8c5));
	background: -moz-linear-gradient(center top ,#ffffff,#c5d8c5);
	background: linear-gradient(center top ,#ffffff,#c5d8c5);
	-moz-box-shadow: 0px 0px 7px #2b2b2b;
	-webkit-box-shadow: 0px 0px 7px #2b2b2b;
}
.modalDefault .skins1 .modalPopupInner{
	background: #005400;
	background: -webkit-gradient(linear, left top, left bottom,from(#005400),color-stop(0.5,#005400),to(#002200));
	background: -moz-linear-gradient(center top ,#005400,#005400 50%,#002200);
	background: linear-gradient(center top ,#005400,#005400 50%,#002200);
}
.modalDefault .skins1 .modalButton a{
	color: #ffffff;
	text-shadow: 0px 0px 4px #525252;
}
.modalDefault .skins1 .modalButton p{
	border: 1px solid #bade7f;
	background: #639f0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#85c420),to(#5a9202));
	background: -moz-linear-gradient(center top ,#85c420,#5a9202);
	background: linear-gradient(center top ,#85c420,#5a9202);
}
/* skins1 cancel */
.modalDefault .skins1 .modalButton .cancel{
	border: 1px solid #b7b7b7;
}
.modalDefault .skins1 .modalButton .cancel a{
	background: #9e9e9e;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e),to(#828282));
	background: -moz-linear-gradient(center top , #9e9e9e,#828282);
	background: linear-gradient(center top , #9e9e9e,#828282);
}
/* skins2 */
.modalDefault .skins2{
	background: #ffffff;
	border-color: #fbfcfb;
	-moz-box-shadow: 0px 0px 7px #2b2b2b;
	-webkit-box-shadow: 0px 0px 7px #2b2b2b;
	box-shadow: 0px 0px 7px #2b2b2b;
}
.modalDefault .skins2 .modalPopupInner{
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),color-stop(0.5,#ffffff),to(#ececec));
	background: -moz-linear-gradient(center top ,#ffffff,#ffffff 50%,#ececec);
	background: linear-gradient(center top ,#ffffff,#ffffff 50%,#ececec);
}
.modalDefault .skins2 .modalButton p{
	border: 1px solid #bbbbbb;
	-moz-box-shadow: 0px 0px 1px #dcdcdc;
	-webkit-box-shadow: 0px 0px 1px #dcdcdc;
	box-shadow: 0px 0px 1px #dcdcdc;
}
.modalDefault .skins2 .modalButton a{
	height: 30px;
	border: 1px solid #ffffff;
}
.modalDefault .skins2 .modalHeader,.modalDefault .skins2 .modalContainer{
	color:#333333;
}
/* skins2 ok */
.modalDefault .skins2 .modalButton .ok{
	background: #F5AA51;
	background: -moz-linear-gradient(top,  #F5AA51 0%, #F96A3F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5AA51), color-stop(100%,#F96A3F));
	background: linear-gradient(top,  #F5AA51 0%,#F96A3F 100%);
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}
/* skins2 cancel */
.modalDefault .skins2 .modalButton .cancel{
	border: 1px solid #a7a7a7;
	background: #cbcbcb;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0),color-stop(0.5,#d0d0d0),to(#bfbfbf));
	background: -moz-linear-gradient(center top , #d0d0d0,#d0d0d0 50%,#bfbfbf);
	background: linear-gradient(center top , #d0d0d0,#d0d0d0 50%,#bfbfbf);
}
.modalDefault .skins2 .modalButton .cancel a{
	border: 1px solid #d0d0d0;
	color: #5c5c5c;
}
/* horizon */
.modalDefault .horizon{
	padding: 0;
	display: table;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 10px 0;
	width: 100%;
}
.modalDefault .horizon p{
	display: table-cell;
}
.modalDefault .modalButton.horizon p:not(\*|*){/*for Opera*/
	display: inline-block;
	margin: 0 5px;
}
.modalDefault .modalButton.horizon a{
	width: auto;
}
/* overrride buttonIcon */
.modalDefault .buttonIcon{
	-webkit-backface-visibility:hidden;
}
.modalDefault .buttonIcon.closeWhite{
	position: absolute;
	right:-13px;
	top: -11px;
	outline:none;
}
/* overrride labelMedium & labelSmall */
.modalDefault .labelMedium{
	margin: 0
}
.modalDefault .labelSmall{
	margin: 0;
}
.modalDefault .labelMedium + .labelSmall{
	margin-top: 5px;
}

.modalDefault .title{
	color: #617589;
    font-size: 16px;
    font-weight: bold;
}

.modalDefault .labelModalSmall{
	padding: 15px 15px 15px;
}

.modalDefault .labelModalSmallChecked{
	padding: 15px 10px 15px;
	background: url(../img/checked.png) no-repeat scroll 10px center transparent;
	background-color: #EEEEEE;
	font-weight: bold;
}

.modalDefault .labelModalSmallChecked .title{
	padding-left: 25px;

}

/*-- modal landscape -- */
@media all and (orientation:landscape) {
	.modalDefault .modalPopup {
		width: 70%;
		margin-top: 15px;
	}
	.modalDefault .modalHeader {
		padding: 0px;
	}
	.modalDefault .modalContainer {
		padding: 8px 8px;
	}
	.modalDefault .labelModalSmall,
	.modalDefault .labelModalSmallChecked {
		padding: 8px 15px 8px;
	}
	.modalDefault .labelModalSmallChecked {
		padding-left: 15px;
	}
}


/*-- searchCount --*/
.searchCount{
	margin: 0 10px 0px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E6E6E6;
}
.searchCount ul{
	display: table;
	margin:  0 auto;
}
.searchCount li{
	display: table-cell;
	font-size:14px;
	line-height: 1.6;
	vertical-align:middle;
}
.searchCount .countLeft{
	width:20%;
	text-align: left;
}
.searchCount .countLeft em{
	display: block;
	height: 15px;
	padding: 0 5px;
	color: #617589;
	line-height: 15px;
	font-size: 14px;
	font-weight: bold;
}

.searchCount .countLeft .numCnt{
	color: #F96A3F;
}

/* overrride buttonIcon */
.modalDefault .buttonIcon{
	-webkit-backface-visibility:hidden;
}
.modalDefault .buttonIcon.closeWhite{
	position: absolute;
	right:-13px;
	top: -11px;
	outline:none;
}
/*-- buttonIcon 1.0.3 --*/
.buttonIcon {
	display: block;
	margin: 0;
	width: 33px;
	height: 33px;
	text-indent: -9999px;
}
.buttonIconS {
	display: block;
	margin: 0;
	width: 29px;
	height: 29px;
	text-indent: -9999px;
}
.buttonIcon{
	background: url(../img/btn_icon.png)
}
.buttonIcon.reloadBlack {
	background-position: 0 0;
}
.buttonIcon.reloadWhite {
	background-position: -40px 0;
}
.buttonIcon.closeBlack {
	background-position: -80px 0;
}
.buttonIcon.closeWhite {
	background-position: -120px 0;
}
.buttonIcon.deleteRed {
	background-position: -160px 0;
}
.buttonIcon.deleteWhite {
	background-position: -200px 0;
}

.buttonIcon.expandOpenBlack {
	width: 29px;
	height: 29px;
	background-position: 0 -40px;
}
.buttonIcon.expandCloseBlack {
	width: 29px;
	height: 29px;
	background-position: -40px -40px;
}
.buttonIcon.expandOpenWhite {
	width: 29px;
	height: 29px;
	background-position: -80px -40px;
}
.buttonIcon.expandCloseWhite {
	width: 29px;
	height: 29px;
	background-position: -120px -40px;
	vertical-align:top;
}

.modalDefault .title{
	color: #617589;
    font-size: 16px;
    font-weight: bold;
}
.labelMedium .title{
	display: inline-block;
	margin-right: 12px;
	padding: 2px 0 4px 12px;
	border-left: 4px solid #f5aa51;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}
/*-- labelMedium 1.0.3 --*/
.labelMedium{
	margin: 0 10px 5px 10px;
	border-bottom: 3px solid #f6f6f6;
}
.labelMedium div{
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #e2e2e2;
	background: #ffffff;
	overflow: hidden;
}

/*-- selectsorBox --*/
.selectsortBox{
	background-color: #EBF7FA;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	width: 87%;
	margin: 10px auto;
	border:1px solid #ECECEC;
	-webkit-box-shadow: 0 0px 1px rgba(0,0,0, 0.4) ;
	-moz-box-shadow: 0 0px 1px rgba(0,0,0, 0.4) ;
	box-shadow: 0 0px 1px rgba(0,0,0, 0.4) ;
}

.selectsortBoxInner{
	display: table;
	margin-bottom: 10px;
}
.selectsortBoxInner2{
	display: table;
	margin-bottom: 0px;
}

.selectsortBox dt{
	display: table-cell;
	width: 110px;
}

.selectsortBox dd{
	display: table-cell;
}

/* 2012-12-26 */

.listRowlink .status {
	width: 65px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-right:8px;
	}
.listRowlink .status span {
	display: block;
	font-size: 9px;
	margin-top: 3px;
	color:#666;
	}
.listRowlink .taskname {
	display: table-cell;
	vertical-align: middle;
	padding-right: 8px;
	font-size: 14px;
	line-height: 1.2;
	width: 100%;
	}
.listRowlink .taskname span {
	display: block;
	font-size: 12px;
	line-height: 1;
	margin-top: 3px;
	color:#666;
	}
.listRowlink .points {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-size: 12px;
	white-space:nowrap;
	}
.listRowlink .points span {
	color: #fa4100;
	font-weight: bold;
	background: url('https://s.yimg.jp/images/sicons/point18.png') left no-repeat;
	padding-left: 20px;
	font-size: 16px;
	}
#rap_paypay_tasklst .listRowlink .points span {
	background: url(https://s.yimg.jp/images/cscg/fe/2.1/pc/img/icon/paypay20.png) no-repeat scroll left center transparent;
    color: #404040;
}
.listRowlink li {
	padding: 8px 5px;
	}
.listRowlink li.gray {
	background-color:#eee;
	}
.listRowlink li.yell {
	background-color:#ffc;
	}

/* 2012-12-27 */

.stsIco {
	display: block;
	width: 65px;
	height: 35px;
	text-align: center;
	font-size: 10px;
	line-height: 35px;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	}
.stsEnt {
	background-color: #ff7516;
	}
.stsShu {
	background-color: #06f;
	}
.stsJis {
	background-color: #2d8c21;
	}
.stsRet {
	background-color: #000;
	}
.stsJik {
	background-color: #72728c;
	}
.stsRak {
	background-color: #7D9AC3;
	}

/*----- for iPhone4 -----*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
nav .listRowlink li a{
	background-image: url(../img/arrow_blue_next_l_2x.png);
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}

.modalDefault .labelModalSmallChecked{
	background: url(../img/checked_2x.png) no-repeat scroll 10px center #EEEEEE;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}

.buttonIcon,.menuExpand .expandTitle .icon{
	background: url(../img/btn_icon_2x.png);
	-webkit-background-size: 233px 69px;
	background-size: 233px 69px;
}

}

/* 2013-01-07 */

p.rpt em {
	font-size: 12px;
	}
.rptAtt {
	text-align: center;
	font-size: 12px;
	padding: 0 10px;
	}
.rptAtt p {
	margin-bottom: 5px;
	}

