@charset "utf-8";

/*-- default 1.0.2 --*/
/* reset */
body{
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,p,blockquote,fieldset,div{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
ul li, ol li{
	list-style: none outside none;
}
table{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
caption{
	text-align: left;
}
table,pre,code,select,textarea,kbd,var,ins,del,samp{
	font-size: 100%;
}
address,cite,dfn,em,strong,var,th,ins,del,samp{
	font-weight: normal;
	font-style: normal;
}
a img{
	border: 0;
}
hr.separation{
	display: none;
}
fieldset{
	border: none;
}
header,section,nav,aside,footer,article{
	display: block;
}
/* initialize */
body{
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color: #333333;
	font-family: "ヒラギノ角ゴ Pro W6", Hiragino Kaku Gothic Pro, Osaka, "ＭＳ Ｐゴシック", sans-serif;
}
a{
	color: #148AE5;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(102,204,255,0.5);
}
.errorText{
	margin: 10px;
	padding: 5px;
	border: 1px solid #dc0000;
	color: #dc0000;
	font-weight: bold;
}

strong{
	font-weight: bold;
}

#wrapper{
	background-color: #FFFFFF;
}



/*-- headerDefault 1.0.3 --*/
.headerDefault{
	position: relative;
}
.headerDefault:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
}
.headerDefault #logo{
	height: 44px;
	padding: 0;

/*color*/
	background-color: #FFFFFF;
	overflow: hidden;
}
.headerDefault #logo h1{
	float: left;
/*logo width*/
	width: 205px; /* ( 2px + 11px ) + 190px + 2px */
	height: 44px; 
	background: url(https://s.yimg.jp/c/logo/s/2.0/crowdsourcing_r_22.png) no-repeat 13px 50%;
	line-height: 44px;
	text-indent: -9999px;
	overflow: hidden;
}
.headerDefault #logo h1 a,
.headerDefault #logo h1 span{
	display: block;
}
.headerDefault .headerMenu{
	float: right;
	height: 33px;
	margin-right: -2px;
}
.headerDefault .headerMenu li{
	display: block;
	float: left;
	height: 33px;
	background: url(../img/ico_separate_header.png) no-repeat right 50%;
	font-size: 10px;
	line-height: 33px;
}
.headerDefault .headerMenu li a{
	display: block;
	padding: 0 5px 0 3px;
	color: #ffffff;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
}
.headerDefault .headerMenu li #ylogo{
	display: block;
	width: 33px;/* 5px+16px+10px+2px */
	height: 33px;
	padding: 0;
	background: url(https://s.yimg.jp/yui/jp/sp/yj_ws.png) no-repeat 5px 50%;
	text-indent: -9999px;
	overflow: hidden;
}


/*-- buttonMedium 1.0.3 --*/
.buttonMedium{
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}
.buttonMedium p{
	width: 60%;
	margin:0 auto;
	border: 2px solid #FFFFFF;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5AA51;
	background: -moz-linear-gradient(top,  #F5AA51 0%, #F96A3F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5AA51), color-stop(100%,#F96A3F));
	background: linear-gradient(top,  #F5AA51 0%,#F96A3F 100%);
	font-weight: bold;
	font-size: 14px;

}
.buttonMedium a{
	display: block;
	padding: 5px 8px;
	border: 1px solid #ffffff;
	border-top: none;
	color: #ffffff !important;
	line-height: 18px;
	text-shadow: 1px 1px 3px #CB3E07;
}

.buttonMedium p.white a{
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#CCCCCC));
	background: -moz-linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background: linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background-color: #CCCCCC;
    color: #666666 !important;
	text-shadow:1px 1px 3px #FFFFFF !important;
	border: 1px solid #ffffff;
}

.buttonMedium p.white span{
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#CCCCCC));
	background: -moz-linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background: linear-gradient(top,#FFFFFF 0%,#CCCCCC 100%);
	background-color: #CCCCCC;
    font-weight: bold;
    color: #666666 !important;
	text-shadow:1px 1px 3px #FFFFFF !important;
	border: 1px solid #ffffff;
	cursor: pointer;
}


.buttonMedium span{
	display: block;
	padding: 5px 8px;
	border: 1px solid #ffffff;
	border-top: none;
	color: #ffffff !important;
	line-height: 18px;
	text-shadow: 1px 1px 3px #CB3E07;
}
.buttonMedium .alert{
	border: 1px solid #b32812;
	background: #e72a0d;
	background: -webkit-gradient(linear, left top, left bottom, from(#e72a0d),color-stop(0.5,#e72a0d),to(#c9240b));
	background: -moz-linear-gradient(center top , #e72a0d,#e72a0d 50%,#c9240b);
	background: linear-gradient(center top , #e72a0d,#e72a0d 50%,#c9240b);
	-webkit-box-shadow: 0px 0px 1px #ededed;
	-moz-box-shadow: 0px 0px 1px #ededed;
	box-shadow: 0px 0px 1px #ededed;
}
.buttonMedium .alert a{
	border: 1px solid #e72a0d;
	border-top: none;
	color: #ffffff;
}
.buttonMedium .cancel{
	border: 1px solid #a7a7a7;
	background: #cbcbcb;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0),color-stop(0.5,#d0d0d0),to(#bfbfbf));
	background: -moz-linear-gradient(center top , #d0d0d0,#d0d0d0 50%,#bfbfbf);
	background: linear-gradient(center top , #d0d0d0,#d0d0d0 50%,#bfbfbf);
	-webkit-box-shadow: 0px 0px 1px #ededed;
	-moz-box-shadow: 0px 0px 1px #ededed;
	box-shadow: 0px 0px 1px #ededed;
}
.buttonMedium .cancel a{
	border: 1px solid #d0d0d0;
	border-top: none;
	color: #666666 !important;
}
.buttonMedium .login{
	border: 1px solid #c1a84c;
	background: #ffe35e;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff4af),color-stop(0.2,#fff4af), to(#ffd348));
	background: -moz-linear-gradient(center top , #fff4af,#fff4af 20%,#ffd348);
	background: linear-gradient(center top , #fff4af,#fff4af 50%,#ffd348);
	font-size: 16px;
	-webkit-box-shadow: 0px 0px 1px #ededed;
	-moz-box-shadow: 0px 0px 1px #ededed;
	box-shadow: 0px 0px 1px #ededed;
}
.buttonMedium .login a{
	border: 1px solid #fff4af;
	border-top:none;
	color: #333333;
}
.buttonMedium.horizon{
	width: 100%;
}
.buttonMedium.horizon p{
	display: inline-block;
	width: auto;
	margin-bottom: 5px;
}
.buttonMedium.horizon a{
	width: auto;
}
.buttonMedium.horizon span{
	width: auto;
}

.buttonMedium .off{
	border:1px solid #dfdfdf;
	background:#e9e9e9;
	cursor: default;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #999999 !important;
	display: block;
	padding: 10px 8px;
	border: 1px solid #ffffff;
	line-height: 18px;
}

/*-- footerDefault 2.0.0 --*/
.footerDefault{
	font-size: 14px;
    line-height: 1;
	text-align: center;
}
.footerDefault .changeDevice{
    margin: 10px;
    font-size: 14px;
}
.footerDefault .changeDevice dl{
    display: inline-block;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e7e7e7;
    background: #f9f9f9;
}
.footerDefault .changeDevice dt{
	display: inline;
}
.footerDefault .changeDevice dt:after{
	content: ":";
}
.footerDefault .changeDevice dd{
	display: inline;
}
.footerDefault .changeDevice dd:after{
	content: "|";
}
.footerDefault .changeDevice dd:last-child:after{
	content: "";
}
.footerDefault .changeDevice p{
	font-size: 12px;
}
.footerDefault .changeDevice a,
.footerDefault .changeDevice span{
	padding: 0 5px;
}
.footerDefault .changeDevice span{
	font-weight: bold;
}
.footerDefault .footerInner{
	padding: 13px 10px 15px 10px;
	border-top: 3px solid #d4d7db;
	background: #eeeeee;
}
.footerDefault .loginArea{
    margin-bottom: 15px;
    text-align: center;
}
.footerDefault .loginArea p + p {
    margin-top: 10px;
}
.footerDefault .loginArea .loginName{
    display: inline-block;
	word-break: break-all;
	word-wrap: break-word;
	-moz-word-wrap: break-word;
    text-align: left;
}
.footerDefault .loginArea .loginStatus em{
    font-weight: bold;
}
.footerDefault .commonLink{
	margin-bottom: 10px;
}
.footerDefault .commonLink li{
	display: inline;
}
.footerDefault .commonLink li:after{
	content: " | ";
}
.footerDefault .commonLink li:last-child:after{
	content: "";
}
.footerDefault .subLink{
	margin-bottom: 8px;
	font-size: 12px;
}
.footerDefault .subLink li{
	display: inline;
}
.footerDefault .subLink li:after{
	content: " - ";
}
.footerDefault .subLink li:last-child:after{
	content: "";
}
.footerDefault small{
	display: block;
	font-size: 12px;
}

.footerDefault #navPageTop {
	text-align:right;
	margin:10px 3px;
}


@-webkit-keyframes loadingIcon {
	0%    	{background-position: 0 -50px;-webkit-transform: rotate(0);}
	12.499% {background-position: 0 -50px;-webkit-transform: rotate(0);}
	12.5%   {background-position: 0 -50px;-webkit-transform: rotate(45deg);}
	24.999% {background-position: 0 -50px;-webkit-transform: rotate(45deg);}
	25.0%   {background-position: 0 -50px;-webkit-transform: rotate(90deg);}
	37.499% {background-position: 0 -50px;-webkit-transform: rotate(90deg);}
	37.5%   {background-position: 0 -50px;-webkit-transform: rotate(135deg);}
	49.999% {background-position: 0 -50px;-webkit-transform: rotate(135deg);}
	50.0%   {background-position: 0 -50px;-webkit-transform: rotate(180deg);}
	62.499% {background-position: 0 -50px;-webkit-transform: rotate(180deg);}
	62.5%   {background-position: 0 -50px;-webkit-transform: rotate(225deg);}
	74.999% {background-position: 0 -50px;-webkit-transform: rotate(225deg);}
	75.0%   {background-position: 0 -50px;-webkit-transform: rotate(270deg);}
	87.499% {background-position: 0 -50px;-webkit-transform: rotate(270deg);}
	87.5%   {background-position: 0 -50px;-webkit-transform: rotate(315deg);}
	99.999% {background-position: 0 -50px;-webkit-transform: rotate(315deg);}
	100.0%  {background-position: 0 -50px;-webkit-transform: rotate(360deg);}
}
@-moz-keyframes loadingIcon {
	0%      {background-position: 0 -50px;-moz-transform: rotate(0);}
	12.499% {background-position: 0 -50px;-moz-transform: rotate(0);}
	12.5%   {background-position: 0 -50px;-moz-transform: rotate(45deg);}
	24.999% {background-position: 0 -50px;-moz-transform: rotate(45deg);}
	25.0%   {background-position: 0 -50px;-moz-transform: rotate(90deg);}
	37.499% {background-position: 0 -50px;-moz-transform: rotate(90deg);}
	37.5%   {background-position: 0 -50px;-moz-transform: rotate(135deg);}
	49.999% {background-position: 0 -50px;-moz-transform: rotate(135deg);}
	50.0%   {background-position: 0 -50px;-moz-transform: rotate(180deg);}
	62.499% {background-position: 0 -50px;-moz-transform: rotate(180deg);}
	62.5%   {background-position: 0 -50px;-moz-transform: rotate(225deg);}
	74.999% {background-position: 0 -50px;-moz-transform: rotate(225deg);}
	75.0%   {background-position: 0 -50px;-moz-transform: rotate(270deg);}
	87.499% {background-position: 0 -50px;-moz-transform: rotate(270deg);}
	87.5%   {background-position: 0 -50px;-moz-transform: rotate(315deg);}
	99.999% {background-position: 0 -50px;-moz-transform: rotate(315deg);}
	100.0%  {background-position: 0 -50px;-moz-transform: rotate(360deg);}
}

:-moz-any-link {
    cursor: pointer;
}


body > *:not(.toolbar):not(#_idpfLP_wrapper) {
    left: 0;
    margin: 0;
    padding: 0;
    top: 45px;
    width: 100%;
}

address, address[dir], article, article[dir], aside, aside[dir], blockquote, blockquote[dir], body, body[dir], caption, caption[dir], center, center[dir], col, col[dir], colgroup, colgroup[dir], dd, dd[dir], dir, dir[dir], div, div[dir], dl, dl[dir], dt, dt[dir], fieldset, fieldset[dir], figcaption, figcaption[dir], figure, figure[dir], footer, footer[dir], form, form[dir], h1, h1[dir], h2, h2[dir], h3, h3[dir], h4, h4[dir], h5, h5[dir], h6, h6[dir], header, header[dir], hgroup, hgroup[dir], hr, hr[dir], html, html[dir], legend, legend[dir], li, li[dir], listing, listing[dir], map, map[dir], marquee, marquee[dir], menu, menu[dir], nav, nav[dir], noframes, noframes[dir], ol, ol[dir], p, p[dir], plaintext, plaintext[dir], pre, pre[dir], section, section[dir], summary, summary[dir], table, table[dir], tbody, tbody[dir], td, td[dir], tfoot, tfoot[dir], th, th[dir], thead, thead[dir], tr, tr[dir], ul, ul[dir], xmp, xmp[dir] {
    unicode-bidi: -moz-isolate;
}

#header{
	display:block;
}
#header .crowdSubTitle{
	padding:5px 0px 5px 10px;
	background: url(../img/informationBody2.png) #EFEFEF !important;
}
#header .crowdSubTitle span{
	font-size:14px;color:#333;
}

#modLoginInfo{
	display: table;
	width: 100%;
}
.cf:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:"";
}
.ellipsis{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
}
#footer{
	text-align:center;
}
#Sa{
	position:relative;
	height:32px;
	border-bottom:1px solid #bdbdbd;
	background-color:#f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fddd7b),color-stop(0.49,#fec71D), color-stop(0.50,#fbb123) to(#fdc958));
	background: -moz-linear-gradient(center top , #fddd7b,#fec71D 49%,#fbb123 50%,#fdc958);
	background: linear-gradient(center top , #fddd7b,#fec71D 49%,#fbb123 50%,#fdc958);
}
#Sa h1{
	position:absolute;
	top:7px;
	left:10px;
	width:145px;
	height:22px;
}
#Sa h1 a,#Sa h1 strong{
	display:block;
	width:145px;
	height:22px;
	-webkit-background-size:145px 22px;
	background-size:145px 22px;
	text-indent:-9999px;
}

#Sa ul{
	position:absolute;
	top:0;
	right:0;
}
#Sa li{
	display:inline-block;
	font-size:13px;
}
#Sa li a,#Sa li strong{
	display:block;
	height:30px;
	padding:0 10px 0 0;
	line-height:30px;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	color:#fff;
	font-size:10px;
}
#Sa li:first-child a,#Sa li:first-child strong{
	position:relative;
	padding-right:5px;
}
#Sa li:first-child a:after,#Sa li:first-child strong:after{
	position:absolute;
	top:8px;
	right:-2px;
	content:'';
	display:inline-block;
	width:0;
	height:16px;
	border-right:1px solid rgba(255,255,255,0.3);
}
#Sa #SaSelBtn span{
	display:inline-block;
	width:8px;
	height:9px;
	margin-left:3px;
}
#Sa #SaSelBtn span,meta[charset]{
	background-image:url(../img/slider.png);
	background-repeat:no-repeat;
	background-position:0 -8px;
}
#Sa #SaSelBtn.open span{
	background-position:0 0;
}
#Sa #ylogo{
	display:block;
	width:31px;
	height:30px;
	padding:0;
	text-indent:-9999px;
	overflow:hidden;
}
#Sa #ylogo,meta[charset]{
	background-image:url(../img/yj_white.png);
	background-repeat:no-repeat;
	background-position:8px 12px;
	-webkit-background-size:16px 10px;
	background-size:16px 10px;
}
#Sg{
	margin-right:10px;
	font-size:12px;
	display: table-cell;
	text-align:middle;
}

#Sg:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:"";
}

#Sg p{
	word-break:break-all;
	word-wrap:break-word;
}

#Sg p.Gr{
	float: left;
}

#Sg p.Lg{
	float: right;
}

#Sg p.noLg{
	float: left;
}

#Sg p a{
	font-weight:bold;
	color:#148AE5;
}
#Sg .yid{font-weight:bold;}

.loginWrap{
	padding: 10px 15px;
	font-size:12px;
}

.guest{

}

.login{

}

#MEM{
	padding:1em 10px 0 10px;
	line-height:1.4;
}
#MEM2{
	padding:1em 10px 0 10px;
	line-height:1.4;
}
#MEM3{
	padding:1em 10px 0 10px;
	line-height:1.4;
}
#Su{
	font-size:12px;
	display: table-row;
	text-align: left;
	vertical-align:middle;
	width: 100px;
}
#Su_footer{
    background-color: #EEEEEE;
    font-size: 12px;
    margin: 10px 0;
    padding: 5px 10px;
}
#Su li:not(.Su_noneRank), #Su_footer li:not(.Su_noneRank){
	display:inline-block;
}
#Su li.Su_noneRank, #Su_footer li.Su_noneRank{
	display:block;
	margin-top:5px;
}
#Su_footer .Su_y, #Su .Su_t, #Su_footer .Su_t{
	margin-right:10px;
}
#Su a, #Su_footer a{
	display:inline-block;
	height:16px;
	padding-left:21px;
	background-repeat:no-repeat;
	font-weight:bold;
}
#Su li.Su_noneRank a, #Su_footer li.Su_noneRank a{
	margin-left:5px;
	padding-left:0;
}

.Su_f{
	background:#DDDDDD;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}

.Su_y{
	background:#DDDDDD;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
	margin-top: 10px;
}


.Su_y span{
	margin-left: 10px;
	padding:3px 0 2px 20px;
	background:url(https://s.yimg.jp/images/sicons/point18.png) left bottom no-repeat;
}

#Su .Su_y span a{
	padding:0px 4px;
	font-weight:normal;
	color:#148AE5;

}

.iconYPoint {
    background: url(https://s.yimg.jp/images/sicons/point16.gif) no-repeat scroll 0 0 transparent;
    line-height: 16px;
    padding-left: 20px;
}


.Su_f a,.Su_f span{
	display:block;
	margin-top:-1px;
	padding:3px 0 0 20px;
	background:url(../img/flag.png) left bottom no-repeat;
}


.cPoint{
	background-image:url(https://s.yimg.jp/images/sicons/point18.png);
	background-repeat:no-repeat;
	padding-right:22px;
	padding-top:3px;
}

/*-- search ad --*/

.mdSearch {
    background: none repeat scroll 0 0 #fcea84;
    padding: 11px 10px 0;
	margin-bottom:10px;
}
.mdSearch .elFormBox {
    display: table;
    height: 36px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.mdSearch .frame {
    background: #ffffff;
    border: 1px solid #bcbcbc;
    display: table-cell;
    line-height: 1.3;
    padding: 5px;
}

.mdSearch .search {
    border: 0 none;
	padding-left:5px;
    color: #333333;
    font-size: 16px;
    line-height: 1.3;
    width: 100%;
}
.mdSearch .submit {
    background: none repeat scroll 0 0 #009933;
    border: 1px solid #009933;
    box-shadow: 0 1px 0 0 rgba(87, 199, 223, 1) inset;
    color: #ffffff;
    display: table-cell;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    width: 61px;
}
.mdSearch .submit input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 36px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 52px;
}


.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.skeyword .skeyttl {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px 0;
}
.skeyword {
	margin-top:10px;
    text-align: left;
}
.skeyword li {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.skeyword li a {
    border: 1px solid #7dcb20;
    display: block;
    padding: 5px 7px;
	background-color: #7dcb20;
    color: #fff;
    text-decoration: none;
}

/*-- naviPaging 2.0.0 --*/
.naviPaging{
	background: #f7f7f7;
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
}
.naviPaging ul{
	display: table;
	margin: 0px auto;
}
.naviPaging li {
    display: table-cell;
    font-size: 14px;
    line-height: 1.6;
    vertical-align: middle;
}
.naviPaging .center em{
    color: #757575;
    font-size: 13px;
    font-weight: normal;
	margin: 10px 0;
	display: block;
    height: 27px;
    padding: 0 5px;
    line-height: 27px;
}
.naviPaging .pageList ul{
    display: flex;
}
.naviPaging .pageList li{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 4px;
    border: none;
    box-shadow: none;
	background: #e2e2e2;
}
.naviPaging .pageList a{
    border: none;
    color: #757575;
    font-weight: normal;
    line-height: 32px;
}
.naviPaging .pageList li:last-child{
    border-radius: 50%;
}
.naviPaging .pageList li.current{
    background: #4CAF50;
    border-radius: 50%;
    border: none;
}
.naviPaging .pageList li.current a{
    line-height: 32px;
}
.naviPaging .pageList em{
	display: block;
	height: 32px;
	margin: 0;
	padding: 0 5px;
	background: none;
	color: #ffffff;
	font-weight: bold;
	line-height: 32px;
}
.naviPaging .pageRight em:before, .naviPaging .pageRight a:before{
    display: block;
    background: none;
    position: absolute;
    top: 50%;
    right: -16px;
    -webkit-transform: translate(-50%,-50%) rotate(-135deg);
    transform: translate(-50%,-50%) rotate(-135deg);
    content: "";
    width: 8px;
    height: 8px;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
}
.naviPaging .pageLeft em:before, .naviPaging .pageLeft a:before{
    display: block;
    background: none;
    position: absolute;
    top: 50%;
    left: -8px;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
    content: "";
    width: 8px;
    height: 8px;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
}
.naviPaging .pageRight a:before, .naviPaging .pageLeft a:before{
    border-color: #404040;
}
.naviPaging .pageLeft a, .naviPaging .pageLeft em{
    margin-left: 0;
    padding-right: 20px;
    font-size: 14px;
	line-height: 34px;
	position: relative;
	color: #bbbbbb;
    font-weight: bold;
}
.naviPaging .pageRight a, .naviPaging .pageRight em{
    margin-right: 0;
    padding-left: 20px;
    font-size: 14px;
	line-height: 34px;
	position: relative;
	color: #bbbbbb;
    font-weight: bold;
}
.naviPaging .pageLeft a, .naviPaging .pageRight a{
	color: #404040;
}


/*----- sagyou head -----*/
.listRowlink2{
	border-top: 1px solid #EFEFEF;
	background: url(../img/informationBody2.png);
}
.listRowlink2 .status01{
	background: url(../img/status01.png) no-repeat left center;
}
.listRowlink2 .status02{
	background: url(../img/status02.png) no-repeat left center;
}
.listRowlink2 .status03{
	background: url(../img/status03.png) no-repeat left center;
}
.listRowlink2 .title{
	padding: 15px 10px 15px 80px !important;
	line-height: 1.25;
	font-size: 16px;
	font-weight: bold;
	min-height: 30px;

}

.listRowlink2 .titlework{
	padding: 15px 10px 15px 10px !important;
	line-height: 1.25;
	font-size: 16px;
	font-weight: bold;
	min-height: 30px;

}

/*-- over18Alert --*/
.over18Alert,.timeover{
	padding: 0px 0px 0px 20px;
	background: #000000;
}
.over18Alert .status,.timeover .status{
	background: url(../img/alert.png) no-repeat left center;
}
.over18Alert .title,.timeover .title{
	padding: 10px 10px 10px 30px;
	line-height: 1.25;
	color: #ffffff;
	font-size: 14px;
}
.over18Alert .title:only-child,.timeover .title:only-child{
	line-height: 20px;
}

/*-- text --*/
p.textct{
	text-align: center;
	margin: 0px auto 20px;
	line-height: 1.4;
}


/*-- newicon --*/
span.new{
	background: url(../img/new.png) no-repeat left center;
	width: 25px;
	height: 9px;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
}

/*-- over18icon --*/
span.ovr18{
	background: url(../img/icon_over18.png) no-repeat left center;
	width: 28px;
	height: 14px;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
	vertical-align: text-bottom;
}

/*-- listRowlink4 --*/
.listRowlink4{
	border-top: 1px solid #e6e6e6;
	padding: 15px 10px 15px 10px;
	margin-bottom: 10px;
	background: url(../img/informationBody2.png) #EFEFEF !important;
}
.listRowlink4 .title{
	padding: 0px 0px 10px 0px;
	line-height: 1.25;
	font-size: 18px;
	font-weight: bold;
	text-shadow:0 1px 1px #FFFFFF;
}
.listRowlink4 h1.title span{
	font-size: 18px;
	font-weight: normal;
}
.listRowlink4 .title:only-child{
	line-height: 20px;
}
.listRowlink4 .explanation{
	margin: 0 0 0px 0px !important;
	line-height: 1.3;
	color: #333333;
	font-size: 14px;
}
.listRowlink4 .explanation:only-child{
	line-height: 20px;
}

.tct{
	text-align: center;
}

.ml10{
	margin-left: 10px;
}

/*--AD --*/
#posNM{
	text-align: center;
}

.task{display:inline-block;margin-top:3px;margin-right:3px;padding:3px 10px;border: 1px solid #aaa;font-size:12px;line-height:1.1;color:#999;width:40px;text-align:center;white-space:nowrap;word-break:break-all;}

.taskError p {
	color: #FF0000;
	font-size: 14px;
	line-height: 1.4;
	font-weight: bold;
	margin: 10px;
}

/*-- articleDefault 1.0.3 --*/
.articleDefault{
	margin: 0 10px 10px 10px;
	overflow: hidden;
}
.articleDefault .imageCenter{
	display: block;
	margin-bottom: 5px;
	text-align: center;
}
.articleDefault .imageLeft{
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
}
.articleDefault .imageRight{
	display: block;
	float: right;
	margin: 0 0 10px 10px;
	text-align: center;
}
.articleDefault .title{
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}
.articleDefault .subText{
	margin-bottom: 5px;
	color: #617589;
	font-size: 12px;
	font-weight: bold;
}

.articleDefault a:link{
    color: #148AE5;
    text-decoration: none;
    font-weight: bold;
}

.articleDefaultMainteErr{
	margin: 0 10px 50px 10px;

}

.regNextLink {
    margin-bottom: 20px;
    text-align: center;
    color: #404040;
}

.regNextLink a:link{
    color: #148AE5;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

/*-- naviBack --*/
.naviBack{
	margin: 0 10px 10px 0px;
	text-align: left;
}
.naviBack ul{
	display: block;
	margin:  0 auto;
}
.naviBack li{
	display: table-cell;
	font-size:14px;
	line-height: 1.6;
	vertical-align:middle;
}
.naviBack .naviBackLeft{
	white-space:nowrap;
	text-align:left;
}
.naviBack .naviBackLeftText{
	text-align:left;
	font-weight: bold;
	font-size: 18px;
	padding: 0 0 0 10px;
}
.naviBack .naviBackLeftText h1{
	font-weight: bold;
	text-shadow:0 1px 1px #FFFFFF;
}
.naviBack .naviBackLeft a{
	position: relative;
	display: inline-block;
	margin-left: 15px;
	padding-right: 10px;
	background: url(../img/bg_paging_prev_main.png) no-repeat right 50%;
}
.naviBack .naviBackLeft a{
    color: #333333;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
}

.modHL01 .untInner {
    background: url(../img/informationBody2.png) #EFEFEF !important;
    border-bottom: 1px solid #FFFFFF;
    padding: 10px 10px 1px;
}

/*-- listRowlink 1.0.3 --*/
.listRowlink img{
	vertical-align: bottom;
}
.listRowlink .image{
	display: block;
	float: left;
	margin-right: 10px;
}
.listRowlink .ranking,
.listRowlink .rankingGold,
.listRowlink .rankingSilver,
.listRowlink .rankingBronze
{
	display: block;
	float: left;
	width: 34px;
	margin-right: 10px;
	padding: 3px;
	font-size: 14px;
	text-align: center;
}
.listRowlink .ranking{
	background: #e2e2e2;
	color: #5c5c5c;
}
.listRowlink .rankingGold{
	background: #a08228;
	color: #ffffff;
}
.listRowlink .rankingSilver{
	background: #6a6f8e;
	color: #ffffff;
}
.listRowlink .rankingBronze{
	background: #986c52;
	color: #ffffff;
}
.listRowlink dl{
	overflow: hidden;
}
.listRowlink .title{
	margin: 5px;
	margin-bottom: 2px;
	line-height: 1.25;
	font-size: 16px;
	font-weight: bold;
	word-break: break-all;
	color: #148AE5;
}

.listRowlink a.currentPage{
	color:#000;
}

.listRowlink li.currentPage{
	overflow: hidden;
	display: block;
	padding: 8px 31px 8px 0;
	color: #333333;
}

.listRowlink li.bgwt{
	background: #FFFFFF;
}

.listRowlink li.bggray{
	background: #F3F0E2;
}

.listRowlink .title:only-child{
	line-height: 20px;
}
.listRowlink .subText{
	color: #617589;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
}
.listRowlink .explanation{
	margin-bottom: 3px;
	line-height: 1.3;
	color: #333333;
	font-size: 14px;
}
.listRowlink .explanation:only-child{
	line-height: 20px;
}

.listRowlink .readMore{
	border-top: 4px solid #f6f6f6;
}
.listRowlink .readMore:after{
	display: block;
	clear: both;
	height: 0;
	content: ".";
	visibility: hidden;
}
.listRowlink .readMore a{
	display: block;
	float: right;
	margin-top: -4px;
	border: 4px solid #f6f6f6;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 0 0 4px 4px;
	background: #ffffff;
}
.listRowlink .readMore span{
	display: block;
	position: relative;
	margin-top: -1px;
	padding: 0 2px 2px 2px;
	border: 1px solid #e2e2e2;
	border-top: 0;
	border-radius: 0 0 2px 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius: 0 0 2px 2px;
	background: #ffffff;
}
.listRowlink .readMore span span{
	display: block;
	position: relative;
	padding: 8px 13px;
	border: 0;
	background: #ffffff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff), color-stop(1,#f3f3f3));
	background: -moz-linear-gradient(top,#ffffff,#f3f3f3);
	background: linear-gradient(top,#ffffff,#f3f3f3);
	font-weight: bold;
}


p.alert{
	margin-left: 10px;
	font-size:12px;
}

p.nodata{
	margin: 25px auto;
	text-align: center;
}

/*---- modal popup ----*/
.popup_dat {
	display:none !important;
	position:absolute !important;
	z-index:9999 !important;
}
.popup_close{
	cursor:pointer !important;
}
.shadow {
	filter: alpha(opacity=60) !important;
	opacity: 0.6 !important;
	display: none !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	background: #000 !important;
	z-index: 9998 !important;
	cursor:pointer !important;
}

/*----- clearfix -----*/
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;font-size:0;}
.clear{clear:both;}

/*----- for iPhone4 -----*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
.listRowlink2 .status01{
	background: url(../img/status01_2x.png) no-repeat left center;
	-webkit-background-size: 85px 81px;
	background-size: 85px 81px;
}
.listRowlink2 .status02{
	background: url(../img/status02_2x.png) no-repeat left center;
	-webkit-background-size: 85px 81px;
	background-size: 85px 81px;
}
.listRowlink2 .status03{
	background: url(../img/status03_2x.png) no-repeat left center;
	-webkit-background-size: 85px 81px;
	background-size: 85px 81px;
}
/*-- headerDefault 1.0.3 --*/
.headerDefault #logo h1{
	background-image: url(https://s.yimg.jp/c/logo/s/2.0/crowdsourcing_r_22.png);
	-webkit-background-size: 190px 22px;
	background-size: 190px 22px;
}
.headerDefault .headerMenu li{
	background-image: url(../img/ico_separate_header_2x.png);
	-webkit-background-size: 2px 16px;
	background-size: 2px 16px;
}
.headerDefault .headerMenu li #ylogo{
	background-image: url(https://s.yimg.jp/yui/jp/sp/yj_ws_m.png);
	-webkit-background-size: 16px 10px;
	background-size: 16px 10px;
}
.over18Alert .status,.timeover .status{
	background: url(../img/alert_2x.png) no-repeat left center;
	-webkit-background-size: 20px 18px;
	background-size: 20px 18px;
}
/*-- over18icon --*/
span.ovr18{
	background: url(../img/icon_over18_2x.png) no-repeat left center;
	-webkit-background-size: 28px 14px;
	background-size: 28px 14px;
}
.Su_f a,.Su_f span{
	background:url(../img/flag_2x.png) left bottom no-repeat;
	-webkit-background-size: 16px 16px;
	background-size: 16x 16px;
}
/*-- naviBack --*/
.naviBack .naviBackLeft a{
	background: url(../img/bg_paging_prev_main_2x.png) no-repeat right 50%;
	-webkit-background-size: 300px 33px;
	background-size: 300px 33px;
}
.naviBack .naviBackLeft a:before{
	background: url(../img/bg_paging_prev_sub_2x.png) no-repeat 0 50%;
	-webkit-background-size: 15px 33px;
	background-size: 15px 33px;
}
}




/*-- .meterCount --*/
.meterCount{width:274px;height:25px;margin:10px auto 0;border:2px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.meterCountInner{position:relative;	background:#eaeaea;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;overflow:hidden;text-align:left;}
.meterCount span{display:block;}
.meterCount .meter{height:25px;width:100%;background:#a1c623;overflow:hidden;text-indent:-9999px;}
.meterCount .txt{position:absolute;top:4px;left:6px;font-size:12px;text-shadow:none;}

/*-- trial --*/
.trial-task {
	background: url(../img/trial-mark.png) no-repeat left top !important;
	padding-left: 60px !important;
}
.trial-task-mark {
	background: url(../img/trial-mark-task.png) no-repeat left center !important;
}
.trial-task-att {
	border-radius: 6px;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	padding: 10px;
	line-height: 1.3;
	margin: 10px 10px 0;
	font-weight: bold;
	color: #3a87ad;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.trial-task-banner {
	text-align: center;
	margin-bottom: 15px;
}
.trial-task-reg {
	margin: auto;
	width: 305px;
	height: 150px;
	background: url(../img/cpnreg/y_crowd_cpnreg_main.png) no-repeat !important;
}
.endbanner {
	display: block;
	margin: 20px auto;
	width: 320px;
	height: 60px;
	text-indent: -9999px;
	overflow: hidden;
}

/*-- taskNavi --*/

.taskNavi ul{
	width: 100%;
	table-layout: fixed;
	display: table;
	text-align: center;
	border-bottom: 1px solid #fff;
	background: #424141;
}
.taskNavi ul > li{
	display: table-cell;
	border-right: 1px solid #fff;
/*	box-shadow:  2px 0px 1px #63c1de;
	-moz-box-shadow:  2px 0px 1px #63c1de;
	-webkit-box-shadow:  2px 0px 1px #63c1de;*/
	font-size: 14px;
}

.taskNavi a{
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 2px;
	color: #fff;
}
.taskNavi ul > li:nth-of-type(3n+3){
	border-right: 1px solid #424141;
}


/*----- for iPhone4 -----*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
.trial-task {
	background: url(../img/trial-mark_2x.png) no-repeat left top !important;
	-webkit-background-size: 85px 81px !important;
	background-size: 66px 63px !important;
}
.trial-task-mark {
	background: url(../img/trial-mark-task_2x.png) no-repeat left center !important;
	-webkit-background-size: 85px 81px !important;
	background-size: 85px 81px !important;
}
.endbanner {
	-webkit-background-size: 320px 60px;
	background-size: 320px 60px;
}
.headerDefault #logo h1 {
	background: url('https://s.yimg.jp/c/logo/s/2.0/crowdsourcing_r_22_2x.png') no-repeat 13px 50%;
	-webkit-background-size: 190px 22px;
	background-size: 190px 22px;
}
}

