/* -----------common----------- */
body,input{
    color: #404040;
}
#contents {
    margin: 20px 0 0;
}
#wrapper{
    background: #f7f7f7;
}
#header{
    position: relative;
    margin: 0;
}
a:link, a:visited {
    color: #536dfe;
}
/* -----------トップ----------- */
.rpt{
    width: 100%;
    margin: 12px auto 8px;
    padding: 10px 0;
    border: none;
    background: #fff;
}
.rpt em{
    display: none;
}
.rpt span.ptext{
    color: #FF684F;
    font-size: large;
}
.mdSearch{
    background-color: #fff;
    margin-top: 10px;
    padding: 18px 12px 0;
}
.mdSearch .frame{
    background: none;
    padding: 0;
    border-color: #bdbdbd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.mdSearch .search{
    display: block;
    height: 36px;
    padding: 0 10px;
    color: #404040;
    font-size: 15px;
    border-radius: 8px;
}
.mdSearch .submit{
    background-color: #4CAF50;
    border: none;
    box-shadow: none;
    width: 80px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.skeyword {
    margin: 10px 8px 0;
}
.skeyword li{
    margin-right: 10px;
    margin-bottom: 8px;
}
.skeyword li a {
    border: none;
    padding: 5px 7px;
    background: #f7f7f7;
    color: #4CAF50;
    font-size: 15px;
    font-weight: 500;
}
.labelIndexNew_02{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}
.labelIndexNew_02 .title{
    padding: 10px;
    color: #404040;
    font-size: 18px;
    font-weight: bold;
    box-sizing: content-box;
    border-left: 8px solid #4CAF50;
}
.taskTotal{
    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 6px;
    color: #757575;
    text-align: left;
}
.taskTotal .number{
    color: #4CAF50;
    margin-left: 8px;
    font-weight: bold;
}
.listRowlinkCategory{
    margin: 0 0 20px;
}

.listRowlinkCategory .title{
    margin: 0;
}
.listRowlink{
    margin: 0;
    border-top: none;
    margin-bottom: 15px;
}
.listRowlinkCategory .listRowlink{
    margin-bottom: 0;
}
#rap_tasklst .listRowlinkCategory, #rap_paypay_tasklst .listRowlinkCategory{
    margin-bottom: 4px;
}
#rap_easy .listRowlink{
    border-top: 1px solid #e2e2e2;
}
.listRowlink li.bggray{
    background-color: #fff;
}
.listRowlink li:last-child{
    border: none;
}
.listRowlink li a{
    background-image: none;
    padding: 10px;
    color: #404040;
}
.listRowlink .title{
    color: #404040;
    margin: 5px 0;
}
#rapeasy .typeSp{
    margin-left: 8px;
}
.typeIcon, .catetype{
    background: #fff;
    padding: 4px 8px;
    margin: 0 0 4px;
    color: #4CAF50;
    border-radius: 4px;
    border: 1px solid #4CAF50;
    font-size: 12px;
}
.listRowlink .subText{
    margin: 0;
}
.listRowlink .subText .listText1, .listRowlink .subText .listText2, .listRowlink .subText .listText3, .listRowlink .subText .listText4, .listRowlink .subText .listText5{
    padding: 0;
}
.listRowlink .riff-Icon{
    padding: 0;
}
.listRowlink .subText span.listText3{
    color: #757575;
    font-size: 13px;
    font-weight: 500;
}
.listRowlink .subText .listText1 span{
    color: #404040;
    padding: 0 0 0 20px;
    font-size: 20px;
}
.listRowlink .subText .listText2{
    display:-webkit-box;
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    padding: 0;
    color: #757575;
    font-size: 14px;
}
.listRowlink .subText .listText5{
    color: #404040;
}
.listRowlinkCategory .readMore{
    border: none;
    border-top: 1px solid #e2e2e2;
}
.listRowlinkCategory .readMore a{
    float: none;
    margin: 0 auto;
    border: none;
    background: #ffffff;
    text-align: center;
}
.listRowlinkCategory .readMore span{
    margin: 0;
    padding: 10px 0;
    border: none;
}
.listRowlinkCategory .readMore span span{
    padding: 0;
    border: 0;
    background: none;
    font-weight: normal;
    color: #4CAF50;
}

#rap_nav_top .taskNavi a, #rap_nav_bot .taskNavi a{
    color: #fff;
    height: 30px;
    line-height: 30px;
}
.taskNavi ul{
    background-color: #4CAF50;
}
.taskNavi ul > li:nth-of-type(3n+3){
    border-right: 1px solid #4CAF50;
}
.labelIndexInfo{
    border-bottom: none;
    margin: 0;
}
.labelIndexInfo div{
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
    background: #ffffff;
    overflow: hidden;
}
.labelIndexInfo .title{
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 8px;
    border-left: 8px solid #4CAF50;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.footerDefault .footerInner{
    border: none;
    background-color: #fff;
}
#rap_menu{
    margin-bottom: 20px;
}
.listRowlink li.currentPage{
    padding: 10px;
}
.listRowlink li.currentPage .title{
    color: #757575;
}
.listRowlink .subText .value{
    padding: 0;
}
.topBnEdu a{
    margin-bottom: 20px;
}
h2#topBannerMainSm {
    border: none;
    padding: 0;
}


/* -----------かんたん・単純.etc----------- */
#rap_nav_top, #rap_nav_bot{
    margin: 14px 0;
}
.taskListHeader{
    padding: 10px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #404040;
    border-bottom: 3px solid #4CAF50;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.searchCount{
    margin: 0;
    padding: 6px 0;
    background-color: #f7f7f7;
}
.searchCount .countLeft em{
    padding-left: 12px;
    margin-top: 4px;
    color: #757575;
    font-weight: normal;
}
.searchCount .countLeft .numCnt{
    color: #4CAF50;
}
p.alert{
    background: #f7f7f7;
}
/* -----------利用ガイド----------- */
.modHL01 .untInner{
    background: none !important;
    margin: 10px 8px;
    border: none;
}
.naviBack .naviBackLeftText{
    padding: 0;
}
article{
    background: #fff;
}
h2{
    background: #fff;
    padding: 0.5em 15px;
    border-left: 4px solid #4CAF50;
    border-bottom: 1px solid #e2e2e2;
}
.labelIndexInfo h2{
    border-bottom: none;
}
h3{
    border: none;
    padding-bottom: 0;
}
.button{
    margin: 16px auto;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    color: white !important;
    background: #4CAF50;
    text-align: center;
    box-shadow: none;
    border: none;
    text-shadow: none;
}
nav .listRowlink li a{
    padding: 10px;
    color: #404040;
}
.listRowlink span{
    padding: 10px;
}
.listRowlink span .title{
    color: #757575;

}
#taskLink h4{
    background-color: #f7f7f7;
    border-radius: 8px;
}
.guideTable th{
    background-color: #f7f7f7;
}

/* -----------マイページ----------- */
.listRowlink4{
    background-image: none !important;
    background-color: #f7f7f7 !important;
    border: none;
    margin: 10px 10px 0;
    padding: 10px 10px 8px;
}
#bar_legend, #bar_history, #paypay_bar_legend, #paypay_bar_history{
    background-color: #fff;
    padding: 10px 0;
}
#bar_history, #paypay_bar_history{
    padding-bottom: 20px;
}
.chart_wrapper{
    margin: 0px auto 20px;
    position: relative;
    height:30vh;
    width:95vw;
}
.rptAtt{
    background: #f7f7f7;
    font-size: 13px;
    padding: 10px;
}
.listRowlink li.gray{
    background-color: #fff;
}
.listRowlink .status span{
    padding: 0;
}
#Sg h1 span{
    display: unset;
}
.buttonMedium p{
    width: 200px;
    border: 1px solid #4CAF50;
    background: none;
    box-shadow: none;
}
#rap_sortbtn, #rap_paypay_sortbtn{
    margin: 0px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#rap_sortbtn .buttonMedium, #rap_paypay_sortbtn .buttonMedium{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 80px;
    height: auto;
}
/*----- for iPhone4 -----*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #rap_sortbtn .buttonMedium, #rap_paypay_sortbtn .buttonMedium{
        width: 105px;
    }
}
#rap_sortbtn .buttonMedium a, #rap_paypay_sortbtn .buttonMedium a{
    color: #4CAF50 !important;
    background: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    border: none;
    text-shadow: none;
}
.buttonMedium.horizon{
    margin: 0;
    padding-bottom: 0px;
    height: 100%;
}
.buttonMedium.horizon p{
    margin-bottom: 0px;
}
.selectsortBox{
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 10px 16px;
    border: none;
    box-shadow: none;
}
.selectsortBox dt{
    font-weight: normal;
}
.ptLine{
    padding: 0;
}
.stsIco{
    height: 28px;
    line-height: 28px;
    width: 74px;
}


/*-----------マイページ/ポイントの切替えタブのcss-----------*/
.pointTabItem {
    width: calc(100%/2);
    height: 44px;
    background-color: #e2e2e2;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    color: #757575;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
}
.wrapPointTab #TpointLabel{
    border-top-left-radius: 8px;
}
.wrapPointTab #PayPayLabel{
    border-top-right-radius: 8px;
}
/*----- for iPhone4 -----*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .wrapPointTab #PayPayLabel{
        font-size: 14px;
    }
}
input[name="pointTabItem"]{
    display: none;
}
.pointTab {
    display: none;
    clear: both;
    overflow: hidden;
}
#TpointBtn:checked ~ #wrapMyMain,
#PayPayBtn:checked ~ #wrapMyMain_02{
    display: block;
}
.wrapPointTab input:checked + .pointTabItem {
    background-color: #fff;
    color: #4CAF50;
    border-bottom: 3px solid #4CAF50;
    box-sizing: border-box;
}
/*-----------マイページ/ポイントの切替えタブのcss完了-----------*/
.wrapPointTab{
    margin: 12px 0 15px;
}
#wrapMyMain, #wrapMyMain_02{
    background: #fff;
}
#rap_selector, #rap_paypay_selector{
    margin: 10px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


/* -----------タスク詳細----------- */
.ankenS{
    margin: 0 0 15px;
}
.ankenS li:last-child div{
    border-bottom: none;
}
.ankenS li:last-child div div{
    padding-left: 12px;
}
.listRowlink2{
    background: none;
    border: none;
}
.listRowlink2 .title{
    font-size: 18px;
}
#rap_taskinfo{
    background: #fff;
}
.entrytype{
    font-size: 14px;
    color: #4CAF50;
    text-align: left;
}

.labelMedium{
    border: none;
    margin: 0;
    padding: 0 10px;
}
.labelMedium div{
    padding: 6px 0;
}
.labelMedium div p{
    padding-left: 12px;
}
.labelMedium .title, .expandTitle{
    border: none;
}
.labelMedium .titleExplain{
    font-size: 18px;
    padding-right: 8px;
}
.ankenS li div span.alert{
    color: #4CAF50;
}
.alertText{
    background-color: #fff;
    border-color: #4CAF50;
}
.btnOrangeFrame{
    border: none;
    background: #4CAF50;
    text-shadow: none !important;
    box-shadow: none;
    font-weight: bold;
}
#d_btnReturnList{
    background: #fff;
    border-radius: 5px;
    color: #4caf50 !important;
    font-size: 16px;
    font-weight: normal;
    box-shadow: none;
    width: 180px;
}
#rap_warning{
    background: none;
}
#rap_rtnlst{
    margin-bottom: 15px;
}
#rap_rtnlst p{
    width: 200px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin:0 auto;
}
.ankenS li div span.titleExplain .cpicon{
    line-height: 1em;
    padding-top: 0;
    background: url(https://s.yimg.jp/images/cscg/fe/2.1/sp/img/icon/paypay20.png) left center no-repeat;
}
.buttonMedium a{
    border: 0;
    font-size: 16px;
    text-shadow: none;
    background: #4CAF50;
}
.buttonMedium p.request {
    width: 200px;
}

/* -----------タスク内容----------- */
#achievement{
    background: none;
}
.mondaiWrap, .mondaiWrap2, .mondaiWrap3{
    background-color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.mondaiWrap h2,
.mondaiWrap2 h2,
.mondaiWrap3 h2{
    border: none;
    background: none;
}
.mondaiWrap .mondai,
.mondaiWrap2 .mondai,
.mondaiWrap3 .mondai{
    background: none;
    padding: 8px;
}
.naviBack .naviBackLeft a{
    padding: 7px;
    color: #4CAF50;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #4CAF50;
    box-shadow: none;
    height: auto;
    line-height: 1;
    margin-left: auto;
}
.taskMeta{
    margin: 8px 0;
    font-size: 14px;
}
.taskMeta span.red{
    color: #4CAF50;
}
.meterCount{
    width: 300px;
    height: 24px;
    border: none;
}
.meterCountInner{
    background: #e2e2e2;
    border-radius: 5px;
}
.meterCount .meter{
    background: #4CAF50;
    height: 24px;
}
.meterCount .txt{
    height: 24px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.libRadioCheckList{
    border-bottom: 1px solid #e2e2e2;
}
.libRadioCheckList li{
    border-top: 1px solid #e2e2e2;
}
.taskWordSub textarea{
    border: 1px solid #e2e2e2;
}
.btnOrangeBlock{
    width: 300px;
    margin: 16px auto;
    border: none;
    background: #4CAF50;
    box-shadow: none;
    font-weight: bold;
}
.taskFooter{
    background: #fff;
}


/* -----------タスク中止完成----------- */
.alertWrap, p.textct2, p.textct4, .pigCount, .henkyakuBtn, .sagyouBtn{
    width: 100%;
    margin: 0;
    background: #fff;
    text-align: center;
}
p.textct2{
    padding: 20px 0;
}
.alertWrap{
    padding-bottom: 20px;
}
.taskCnt{
    color: #4CAF50;
}
#rap_stpans, #rap_othtask{
    margin-bottom: 15px;
}
.henkyakuBtn{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 15px;
}
.henkyakuBtn p.yes a, .henkyakuBtn p.no a, .sagyouBtn p a{
    width: 200px;
    background: none;
    text-shadow: none;
    margin-bottom: 8px;
}
.henkyakuBtn p.yes a{
    background: #4CAF50;
}
.henkyakuBtn p.no a{
    color: #4CAF50;
    border: 1px solid #4CAF50;
}
.sagyouBtn p a{
    background: #4CAF50;
    color: #fff;
    border: none;
    box-shadow: none;
}
.pigCount{
    padding: 0 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: center;
}

/* -----------実施済みボタン修正----------- */
.buttonMedium .off {
    background: #e2e2e2;
    cursor: default;
    box-shadow: none;
    color: #757575 !important;
    font-weight: normal;
    display: block;
    padding: 6px 1px;
    border: none;
    line-height: 18px;
}
/* -----------実施済みボタン修正完了----------- */

/* -----------続けて実施ボタン修正----------- */
.buttonMedium_continue{
    width: 100%;
    background: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.buttonMedium_continue #d_execution{
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    color: #4CAF50 ;
}
/* -----------続けて実施ボタン修正完了----------- */

/* -----------利用登録ボタン修正----------- */
.buttonCheck{
    background-color:#ffffff;
}
.buttonCheck a{
    border:none;
    box-shadow: none;
    width:200px;
}
.buttonCheck a em{
    border:none;
    text-shadow:none;
    border-radius:5px;
    background:#4CAF50;
    font-weight:bold;
}
.buttonCheck a.off{
    border:none;
    box-shadow: none;
    width:200px;
}
.buttonCheck a.off em{
    border:none;
    color:#757575 !important;
    text-shadow:none;
    background:#e2e2e2;
    font-weight:normal;
}
/* -----------利用登録ボタン修正完了----------- */
