#yjsmhLogo h1 {
	background-image: url("/c/logo/s/2.0/crowdsourcing_r_22_2x.png");
	-webkit-background-size: 190px 22px;
	-moz-background-size: 190px 22px;
	background-size: 190px 22px;
	background-repeat: no-repeat;
	background-position: right 50%;
	width: 203px;
}